[2021-08-12 12:22] clalancette commented on #632
We've switched almost all other vendor packages to use `git apply`.  I'd rather be consistent here and use that where we can.

[2021-08-12 12:35] christophebedard commented on #632
See #846

[2021-08-13 19:47] #632 closed

[2021-08-23 21:30] chapulina opened #853 "👩‍🌾 PlaySrvsTest.set_rate_good_values flaky timeout"
## Description

The `set_rate_good_values` test has been flaky on the nightly jobs, see history for `test_play_services__rmw_fastrtps_cpp
`:

https://ci.ros2.org/job/nightly_linux_repeated/lastSuccessfulBuild/testReport/(root)/projectroot/test_play_services__rmw_fastrtps_cpp/history/

### Expected Behavior

The test passes consistently.

### Actual Behavior

The test is flaky, failing with a timeo

[2021-08-24 16:09] jediofgever commented on #99
sooo did this ever made to Foxy ?

[2021-08-24 17:30] emersonknapp commented on #99
No - there is currently no plan to backport this to Foxy due to the difficulty of maintaining API/ABI stability while doing so. It is available in Galactic and Rolling distributions. To use it in Foxy you might have some luck patching the https://github.com/ros2/rosbag2/tree/foxy-future branch, but I'm not sure

[2021-08-24 21:57] audrow opened #855 "Ability to export ROS 2 bag"
## Description

Currently it seems hard to share ROS 2 bags. It would be nice if this was easier.

## Completion Criteria

There is a simple, unambiguous way to share ROS 2 bag files, that is to save the bag, send it to someone else or another computer, and then play the bag.

## Implementation Notes / Suggestions

It was suggested in the ROS 2 weekly meeting to compress the directory created by R

[2021-08-24 22:05] aprotyas commented on #855
Just poking: do you see the `--export` flag doing anything more than generating an archive of the directory produced by `ros2 bag record`?

[2021-08-24 22:09] audrow commented on #855
I'm not sure. The goal is to make it easier to share bag files and creating an archive was suggested. I'm not sure if that gets us all the way there, but probably not. I suspect that different configurations will pose a problem, but I'm not terribly knowledgable or experienced with ROS bag 2.

[2021-08-24 23:33] emersonknapp commented on #855
We have decided that `tar` is hard to use? Not meaning to be argumentative, but that seems like a pretty normal thing to do to share files/directories out in the wild. Maybe we want rosbag2 to call `tar` for you?

[2021-08-24 23:49] danthony06 commented on #855
Is this supposed to do anything other than compress the entire directory? I'm not seeing the challenge here either. If we do need this, maybe use zip instead of tar, just so Windows can process them with its built in tools?

[2021-08-25 03:21] 0xbabeface opened #856 "Visiting invalid pointer addresss when using "MESSAGE" compression mode to write data"
## Description
I wrote testing codes like:
[code]
The program will throw out a "std::bad_alloc" exception when writing bag.

### Expected Behavior
Work normally.

### Actual Behavior
In the function in rosbag2_cpp/writer.cpp:
[code]

## To Reproduce
Maybe some codes for testing are needed.

## System (please complete the following information)
 - OS: focal
 - ROS 2 Distro: galactic
 - Version: rel

[2021-08-25 16:39] Karsten1987 commented on #855
there might be potentially more work to do than just compression the directory. The `metadata.yaml` file can have absolute filepaths pointing to files outside the current directory. I'd envision the logic to be a bit more complex in which one should parse the metadata, copy (?) the files which are not inside the directory into it and then compress.

[2021-08-25 16:59] audrow commented on #855
FYI @defunctzombie @jtbandes @amacneil @jhurliman

[2021-08-27 16:04] emersonknapp opened #857 "Reading can return out-of-order timestamps across file boundary in split bags"
## Description

Individual `.db3` files within a split bag use the index to return messages in timestamp order when reading (playing). However, a file is played in full before a next file is loaded. That next file could then return messages with timestamps before the end time of the previous bag, if messages were written out-of-timestamp order across a file boundary.

Old title: `Open all sqlite3

[2021-08-30 15:39] danthony06 commented on #855
We talked about this quite a bit in the WG meeting, and for background, this i the workflow we're trying to support.

We currently maintain a utility called Bag Database (https://github.com/swri-robotics/bag-database). It's a web based utility that lets us keep track of and manage our bag files. As part of these, we read things like latitude and longitude out of GPSFix or NavSatFix messages so tha

[2021-08-30 23:34] emersonknapp commented on #829
Fixed in #848
Galactic backport in #858

[2021-08-30 23:34] #829 closed

[2021-08-31 21:05] EsipovPA opened #859 "[CONSIDER] Add ros2 bag reindex to foxy-future branch"
## Description

Currently, the reindexing feature is available in master branch. Also in the first iteration of ROS. Is it a viable option to consider adding the same functionality to the  foxy-future branch? I know that this branch is not going to last for long, but this feature might come in handy in some scenarios. At least, I've encountered one not long ago.

## Related Issues

Did not find an

[2021-08-31 22:24] emersonknapp commented on #859
A couple nitpicks with the issue:
* this feature is available in Galactic and Rolling, not just from code build of master branch
* Backports are not implemented by copying files from one branch to another - they are done by cherry-picking specific commits/diffs so that only the changes relevant to that feature are actually picked.

Since the reindexing feature was implemented _directly_ after the

[2021-08-31 22:24] #859 closed

[2021-09-01 02:10] llapx commented on #853
I'm trying reproduct the bug in local, but I failed, is there any way to produce it in local?

[2021-09-01 08:14] EsipovPA commented on #859
This is a very good news, that there is already a PR. Thank you very much!

[2021-09-02 18:32] emersonknapp commented on #853
Assigning this to myself and picking up to investigate. Note @llapx these can be hard to reproduce - you can try to use the settings from the `repeated` build above

[code]

Additionally I often try to run the gtests directly with repeat, e.g.

[code]

That will run the test infinitely until it fails. While this is happening you can try to, perhaps, stress the CPU by using `stress` utility to see

[2021-09-03 09:04] Barry-Xu-2018 commented on #856
Agree. This is an issue.
Currently, only this interface has this problem.
[code]
Fortunately, this interface isn't really used.

I think
`const rclcpp::SerializedMessage & message` is unreasonable definition.
`std::shared_ptr<rclcpp::SerializedMessage> message` should replace it.
That is, interface is changed to
[code]

Besides, below codes can be wrapped into above interface and simplify codes in

[2021-09-03 18:14] j-rivero opened #862 ":farmer: Regression in test_play_{timing,services}__rmw_fastrtps on linux_repeated"
## Description

The following tests have [started to](https://ci.ros2.org/job/nightly_linux_repeated/2397/) fail consistently (three days in a row) in the CI of https://ci.ros2.org/job/nightly_linux_repeated/:

* rosbag2_transport.test_play_services__rmw_fastrtps_cpp
* rosbag2_transport.test_play_timing__rmw_fastrtps_cpp.gtest

If I'm not wrong, the build displays that the commit used is 891e08128

[2021-09-03 19:15] emersonknapp commented on #856
I think that change is fine - however it's now a fixed API in Galactic, so we wouldn't be able to backport it. We could make this change for Humble - but is there any patchfix we can do for Galactic without changing the API?

[2021-09-06 02:23] Barry-Xu-2018 commented on #856
Okay. I will update codes to fix this bug.
And make another PR for new interface.
[code]

[2021-09-06 04:10] HorsonLiu opened #865 "Limit max splits (the same as `--max-splits` of rosbag in ROS1)"
## Description

Limit max splits (the same as `--max-splits` of rosbag in ROS1)

## Related Issues

rosbag

[2021-09-07 06:01] Barry-Xu-2018 commented on #856
@emersonknapp

I created 2 PRs to fix this problem.
- #866 : always duplicate message
- #867 : Add new interface to help judgement whether processing message is asynchronous. Only for asynchronous, duplicate message

Would you please share your opinions on fix ?

[2021-09-07 07:47] llapx commented on #794
It works well on rolling and galactic, maybe fixed in somewhere.

[2021-09-07 14:36] asobhy-qnx opened #868 "missing std_msgs dependency in package.xml and CMakeLists.txt for bag_recorder_nodes"
In Foxy branch: missing std_msgs dependency in package.xml and CMakeLists.txt for bag_recorder_nodes and needs to be added to the two files accordingly

[2021-09-07 14:45] aprotyas commented on #868
Fixed by https://github.com/ros2/rosbag2/pull/861

[2021-09-10 18:38] #821 closed

[2021-09-13 07:23] liuxw7 opened #871 "keyboard space for pause/resume when playing ros2 bag"
modify code for player.cpp in rosbag2_transport

modify function:
[code]

add new function

[code]

in ros2 foxy, I has tested it in location.  I hope it usefully for someone.

[2021-09-13 18:40] emersonknapp commented on #871
Closing as duplicate of https://github.com/ros2/rosbag2/issues/55

Note: we will be using https://github.com/ros-tooling/keyboard_handler package to manage keyboard handling, to avoid putting any of that OS-specific code in rosbag2 `Player`.

https://github.com/ros2/rosbag2/pull/847 is already in progress to implement this feature - it is awaiting a full release of `keyboard_handler`

[2021-09-13 18:40] #871 closed

[2021-09-14 01:23] ros-discourse commented on #782
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/announcing-live-ros-2-connections-in-foxglove-studio/22278/1

[2021-09-20 22:49] sloretz commented on #732
[Another example](https://ci.ros2.org/job/nightly_linux_repeated/2416) of `test_play` being flaky on Ubuntu Focal with FastDDS

The test timed out while running `RosBag2PlayTestFixture.recorded_messages_are_played_for_filtered_topics`

[code]

<details><summary>Console output</summary>

[code]
</details>

[2021-09-21 22:15] sloretz opened #872 ":man_farmer: rosbag2_transport can run out of memory in coverage jobs"
## Description

** Clear and concise description of the feature that you'd like to exist, from a user's perspective. Don't get into implementation details, describe what you want it to do. Put any consideration of alternate features that might solve your problem as well. **

The package `rosbag2_transport appears to have run out of memory while building in the Rolling coverage nightly.
https://ci.

[2021-09-25 16:04] #663 closed

[2021-09-27 17:33] #55 closed

[2021-09-29 20:38] #824 closed

[2021-10-01 08:07] Kaju-Bubanja commented on #821
Is the seek service currently in master? I see that there is a Seek.srv in rosbag2_interfaces, but when I recompile everything rosbag2 related and resource my workspace and run a bag I don't see the seek service listed when doing ros2 service list.

[2021-10-04 20:56] jacobperron opened #876 "Add Writer.close() API"
## Description

The `BaseWriterInterface` declares a [`close()` method](https://github.com/ros2/rosbag2/blob/e6867e7a488815665112c556c92cf970bffa2464/rosbag2_cpp/include/rosbag2_cpp/writer_interfaces/base_writer_interface.hpp#L41) that all writer implementations must override. However, the top-level [`Writer` class](https://github.com/ros2/rosbag2/blob/e6867e7a488815665112c556c92cf970bffa2464/rosb

[2021-10-13 20:42] Blast545 commented on #862
After #863 was merged, has been failing in 21 out of 35 (60%) of the latest debug builds. The test failing is `playing_respects_delay`. I haven't checked repeated jobs, but right now it's failing frequently in the nightly debug jobs.

Most recent case:
https://build.ros2.org/view/Rci/job/Rci__nightly-debug_ubuntu_focal_amd64/472/

[2021-10-15 01:13] gbiggs opened #884 "Notification of significant events during bag recording and playback"
## Description

During bag recording and playback, there are events that occur in which the user may be interested. For example, the user may wish to know when a split in the output bag file has occurred during recording, or when a new split has been opened during playback, or when a new topic has been added to a bag file.

Motivating use case:

Automatic archiving of large bag files during record

[2021-10-15 14:29] imstevenpmwyca opened #885 "Content-based filtering"
## Description

Something similar to what this does in ros1:
`rosbag filter mappingData_input.bag mappingData_output.bag 'topic != "/tf" or topic == "/tf" and m.transforms[0].header.frame_id != "map" and m.transforms[0].child_frame_id != "odom"'`

## Completion Criteria

After filtering a bag with a tf that has map->odom->base we get a new bag with a tf that has only odom->base

[2021-10-15 14:29] imstevenpmwyca opened #886 "Filter a specific transformation from the /tf topic"
## Description

Something similar to what this does in ros1:
`rosbag filter mappingData_input.bag mappingData_output.bag 'topic != "/tf" or topic == "/tf" and m.transforms[0].header.frame_id != "map" and m.transforms[0].child_frame_id != "odom"'`

## Completion Criteria

After filtering a bag with a tf that has map->odom->base we get a new bag with a tf that has only odom->base

[2021-10-15 18:20] emersonknapp commented on #886
Closing as duplicate of #885

[2021-10-15 18:21] #886 closed, assigned to nobody

[2021-10-18 22:02] clalancette opened #888 "New rosbag2 release into Rolling"
Looking at the git history, there has been a lot of activity in this repository since the last release (0.9.0).  Additionally, we just released a new version of rclcpp which includes https://github.com/ros2/rclcpp/pull/1713.  That will mean that rosbag2 will have deprecation warnings until we do a release that includes #852 .

For these reasons, I'm requesting a new release of rosbag2 into Rolling

[2021-10-19 17:09] clalancette commented on #888
Thanks, appreciated.

[2021-10-21 22:17] JWhitleyWork commented on #663
@emersonknapp I am apparently blind but thanks for pointing this out! Is there documentation for usage?

[2021-10-21 22:59] emersonknapp commented on #663
You know what - that made me realize there isn't! I'll look into adding some now.

You can see the option in `ros2 bag record --help` - but we should at least have a mention in the README.

A more comprehensive documentation page is definitely needed but that's a little ways out, I think.

[2021-10-21 23:00] JWhitleyWork commented on #663
Thanks! I'll give it a look and see how it compares.

[2021-10-22 18:11] #888 closed, assigned to nobody

[2021-10-29 06:28] lowbees opened #898 "Deserialize the cdr message without ros environment (C++)"
I can deserialize the cdr message with ros, but I want run without ros.
How can I do it?

[2021-10-29 19:26] emersonknapp commented on #898
For C++, you might try using the https://github.com/eProsima/Fast-CDR library

[2021-10-30 10:20] lowbees commented on #898
I have use Fast-CDR library to deserialize the cdr message, but how to get the msg struct like pcl::PointCloud

[2021-11-01 11:37] CourchesneA opened #900 "Snapshot based on duration"
## Description

There was a recent addition of the snapshot feature that allows a circular buffer of fixed size. In our case, it is not possible to specify a buffer zise, but we would like to specify a duration. It would be great to be able to trigger a snapshot for X seconds in the past and Y seconds in the future.

## Related Issues

#663

## Completion Criteria

- Able to trigger a snapshot bas

[2021-11-01 18:34] emersonknapp commented on #898
Without using ROS - that will be up to you. You should have fields full of data, which could be translated into other data structures as needed. I'm going to close this as off-topic for rosbag2 specifically. Perhaps this is a better conversation for answers.ros.org (stackoverflow-like) or discourse.ros.org (open discussions)

[2021-11-01 18:34] #898 closed

[2021-11-01 18:51] emersonknapp commented on #696
Closing this issue, we don't need it anymore. It's a huge amount of work that we did! The only thing really remaining is use-sim-tim, which can be tracked via its own issue https://github.com/ros2/rosbag2/issues/694

[2021-11-01 18:51] #696 closed

[2021-11-02 13:34] fas2037 opened #901 "Bagfile can't be played when recording is not stoped appropriately"
## Description
I'm running ROS2 Galactic in an Docker Container on a Jetson Xavier NX. When starting the docker a rosbag is recorded and all nodes are started automatically. If I then run docker stop and try to run the bag file the following error occurs
[code]

When starting and stopping the ros2 bag record manually inside of the docker container it is possible to play the file afterwards.

### E

[2021-11-02 14:08] fas2037 commented on #901
When runing ros2 bag play with the database file (.db3) it works

[2021-11-02 14:08] #901 closed

[2021-11-02 16:37] emersonknapp commented on #901
This is happening because of an unclean shutdown, the process is being terminated without being allowed to do any finalizing work (which is where the metadata file is created). In your case, does the bag directory that you are trying to play back have `metadata.yaml` in it?

Although - my understanding is that a `docker stop` sends `SIGTERM` to the main process, and rosbag2 had a specific galactic

[2021-11-02 17:55] hidmic opened #902 "Composable `Player` and `Recorder` nodes"
## Description

To enable intra-process bag replaying and recording, sometimes necessary when dealing with high-frequency and/or high-bandwidth data streams, both [`rosbag2_transport::Player`](https://github.com/ros2/rosbag2/blob/1f68ddce236acc9425ead2fd87bf5dbc9c9407d2/rosbag2_transport/include/rosbag2_transport/player.hpp#L59) and [`rosbag2_transport::Recorder`](https://github.com/ros2/rosbag2/b

[2021-11-04 21:11] ivanpauno commented on #558
The playback pause/resume feature was finally implemented without lifycycle nodes.

It looks that for the recorder it would be pretty easy to implement the feature, simply don't write to the database in the subscription callbacks when the recording is paused.
There's also no "lifecycle subscription", so there wouldn't be much benefit of using that AFAIS.

I'm planning to work on this feature, I wo

[2021-11-04 22:21] mschuckmann commented on #561
So if there is no ROS2 bag migration support does that mean that there is no way to use old bag files after a .msg file has been changed (e.g. it's package name changed or fields added or removed)?

[2021-11-04 23:08] MichaelOrlov commented on #558
@ivanpauno Your proposal sounds good to me.  :+1:
And I am not a fun of the idea with lifecycle node.

[2021-11-08 19:54] clalancette opened #906 "New release into Rolling"
#903 was necessary because of the downstream change in https://github.com/ros2/rosidl/pull/627 .  Now that we've done a release of `rosidl` into Rolling, we need a new release of rosbag2 into Rolling to get it to build again: https://build.ros2.org/view/Rbin_uF64/job/Rbin_uF64__rosbag2_cpp__ubuntu_focal_amd64__binary/204/

@emersonknapp Do you mind doing another new release here so that we can get

[2021-11-08 20:06] emersonknapp commented on #906
I'm on vacation and won't be able to do it until at least next Monday (I only have my phone) - if you need it before then you'll be best off doing it

[2021-11-08 20:07] clalancette commented on #906
All right, happy to do it.  Thanks for the response!

[2021-11-10 22:01] wjwwood opened #909 "ros2 bag record does not keep running under gdb in galactic"
## Description

When running `ros2 bag record ...` it will continue running until you stop it, e.g. with ctrl-c. However, in Galactic (but not in Rolling) when running under `gdb` (this is how I'm running it `gdb --args $(which ros2) bag record -a`) it will start normally but then immediately shutdown cleanly without any intervention. On Rolling it will run as expected until you stop it even under

[2021-11-10 22:01] wjwwood commented on #909
@jacobperron @ivanpauno FYI

[2021-11-10 22:02] wjwwood commented on #909
Example from Galactic:

[code]

[2021-11-10 22:03] wjwwood commented on #909
Working example in Rolling:

[code]

[2021-11-11 13:54] ivanpauno commented on #909
The issue is this:

https://github.com/ros2/rosbag2/blob/ecf831360a4b25639db1832b4eb5da95a5948e27/rosbag2_py/src/rosbag2_py/_transport.cpp#L194-L200

That code changed in https://github.com/ros2/rosbag2/pull/854, so the issue isn't present in galactic.
It's a fun problem that usually doesn't happen because there's a race: executor.cancel() **only** cancels a running spin, if it's called before spi

[2021-11-15 09:35] cmd23333 commented on #473
Such a method above were available in foxy as eloquent don't have rclpy.serialization
so can I do it with ros2 eloquent?

[2021-11-15 20:44] emersonknapp commented on #561
It seems to be that is what it means, yes. There are probably some edge cases depending how CDR parsing is done by the DDS implementation, it might be able to parse messages even if there are new fields, but not entirely sure how this plays out in practice.

[2021-11-15 21:19] ivanpauno commented on #909
Fixed by https://github.com/ros2/rosbag2/pull/911

[2021-11-15 21:19] #909 closed

[2021-11-17 20:51] ivanpauno opened #912 "Add option to recorder to ignore "leaf" topics"
## Description

There're currently some options that allow the recorder to automatically figure out what topics to record: the "all" option and an "exclude" regex.
The proposal here is to add an option that will also exclude "leaf" topics (i.e. topic with no subscriptions).

For that we would need an extra filter, that probably checks the result of `get_publishers_info_by_topic()`.

## Related Iss

[2021-11-23 18:56] fujitatomoya opened #914 "ros2 bag play option to enable LoanedMessage"
We would like to open discussion for this feature request.

## Description

Relates #652

Currently rosbag2 play publishes serialized messages, which is efficient to publish the messages from bag database w/o de-serialization.

https://github.com/ros2/rosbag2/blob/4792327ee6962152fa8f0f6b811e68a76c755d66/rosbag2_transport/src/rosbag2_transport/player.cpp#L485-L494

But if rmw implementation suppor

[2021-11-23 18:59] fujitatomoya commented on #914
@emersonknapp we would like to open discussion here. i was going to talk about this last WG but didnt have chance. so probably next time, we could discuss on this? taking advantage of `LoanedMessage`, i guess it can improve the performance of `ros2 bag play`.

[2021-11-23 20:05] wjwwood opened #915 "handle recording of messages larger than the sqlite blob limit (default is 1GB)"
## Description

Currently if you try to record a message larger than the sqlite blob/string limit, you get an exception and rosbag2 crashes due to an unhandled exception:

[code]

The default for sqlite (compile time configuration) is 1GB: https://sqlite.org/limits.html (`SQLITE_MAX_LENGTH`)

At the very least it should fail more gracefully, with an error or warning that tells you which topic the

[2021-11-23 22:08] emersonknapp commented on #914
Sure - I added it to the agenda for the 12/3 meeting https://docs.google.com/document/d/1UXWaEkT6ji0Z0uTtJJSni5Y6fiopM9qOOzv4ldeNaAM/edit#

[2021-11-24 01:40] emersonknapp commented on #915
Good ticket. Not sure if I'll have any resources to work on this - but it makes sense to me that rosbag2 should be able to support this use case.

The one workaround I can think of off the bat would be to paginate the payload across multiple messages, rather than publishing a single payload as a 1GB+ individual message.

[2021-11-24 01:44] emersonknapp commented on #912
Is part of the motivation here to avoid activating "lazy publishers" - which won't actually publish messages unless a subscriber exists?

[2021-11-24 01:46] wjwwood commented on #915
I think the message in question was part of the nav stack visualization using a Marker message, so maybe that could be an option, but changing that is probably not worth doing at this point. Probably just exclude it for now, or if we make it a warning then just ignore it.

[2021-11-24 01:57] emersonknapp commented on #915
Yes, I think warning/ignore is acceptable behavior. Definitely crashing is not OK. I believe this would be part of the storage implementation - and probably not part of generic functionality, considering that this particular limitaton is in SQLite.

We could make that a note in the storage API that it should gracefully handle arbitrarily sized write - maybe have a return value for a successul/fail

[2021-11-24 05:44] gbiggs commented on #915
I think that with the rapid ongoing development of a new bag file format, which should not have this problem, the best solution is to fail gracefully and note this as a limitation of sqlite3-format bag files. Unless someone has time to implement pagination within the sqlite3 storage plugin so that it's transparent to the rest of rosbag2.

[2021-11-24 13:18] ivanpauno commented on #912
Yes (all publishers are "lazy publishers" as nothing is sent if there are no subscriptions, even if multicast is enabled).
In a lot of cases you don't need to record "leaf topics", so it's a good idea to not "activate" their publishers to disturb the original system as less as possible.

[2021-11-24 17:49] emersonknapp commented on #915
This may be a bit tangential, but I'd be inclined to move the sqlite implementation into a package named `rosbag2_storage_sqlite3`, removing the package `rosbag2_storage_default_plugins` - instead indicating the default via `exec_depend` in the `rosbag2` metapackage. This sqlite3 implementation could then theoretically live in a separate repository. Not necessary but at least with that naming it w

[2021-11-24 17:51] emersonknapp commented on #912
I was thinking more, at the application level, some publishers won't do any of the work to even construct messages and call `publish`, unless a subscription is active on their topic. As opposed to what you've said, which is at the middleware level. Both cases benefit from this feature though.

[2021-11-24 21:00] ivanpauno commented on #912
Yes!
If this seems like a reasonable addition to `ros2 bag record` let me know and I might have time to work on it.

[2021-11-24 22:17] emersonknapp commented on #912
Yes, definitely this seems reasonable. For the implementation - I think high level this is a new `RecordOptions` option - and that the new logic would then exist somewhere under `Recorder::topic_discovery`

[2021-11-24 22:30] wjwwood commented on #915
I opened https://github.com/ros2/rosbag2/pull/919 to implement the warning behavior.

[2021-11-29 18:34] clarkebowers opened #922 "Some parameter events are not recorded"
## Description
Some of the /parameter_events messages are not recorded in the rosbag2.

### Expected Behavior
All parameter events will be recorded in the ros bag.

### Actual Behavior
A random subset of the parameter events are recorded in the ros bag.

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. Start bag recording in one terminal session:

2. In another terminal session launch f

[2021-11-29 18:43] clarkebowers commented on #922
Trying include the launch file again.

<launch>
    <node pkg="turtlesim" exec="turtlesim_node" name="node1">
      <param name="background_r" value="1" />
      <param name="background_g" value="2" />
      <param name="background_b" value="3" />
    </node>
    <node pkg="turtlesim" exec="turtlesim_node" name="node2">
      <param name="background_r" value="4" />
      <param name="background_g"

[2021-11-30 02:54] MichaelOrlov commented on #914
@fujitatomoya We have successfully implemented support for zero-copy in `Rosbag2` player internally in `ApexOS` and have tried to upstream it. Please refer to the issue #652 and relevant PR https://github.com/ros2/rosbag2/pull/664.
It seems that we were running ahead of time and mainstream.
May be it's time to reiterate and reopen those issue.
Also please note that since then `LoanedMessage` has m

[2021-11-30 23:26] #912 closed

[2021-11-30 23:42] adityapande-1995 opened #926 "Windows CI can't find ``metadata.yaml`` file when using ``ros2 bag record``"
## Description
This came up in https://github.com/ros2/examples/pull/327, in the script ``rosbag_recrd_launch_test.py``. The test runs ``ros2 bag record -a -o <temp_directory>`` with a ``talker`` node, waits for 3 secs for the data to be recorded then checks for ``metadata.yaml`` file in the ``<temp_directory>``

### Expected Behavior
The Windows CI should find the ``metadata.yaml`` file. Linux an

[2021-12-01 01:04] fujitatomoya commented on #914
@MichaelOrlov sounds really nice 👍 would you consider the PR against the OSS mainline? that would be really appreciated.

[2021-12-01 08:58] MichaelOrlov commented on #922
@clarkebowers What was the DDS QOS settings for publishers and Rosbag2?

[2021-12-01 14:15] clarkebowers commented on #922
This is the provider of DDS
export RMW_IMPLEMENTATION=rmw_cyclonedds_cpp

I have tried a YAML file to force history all. It does not change the result.

/parameter_events:
  history: keep_all

ros2 bag record --all --include-hidden-topics --qos-profile-overrides-path rosbagqos.yaml

1638367867.050641 [0]       ros2: using network interface eth0 (udp/172.27.218.0) selected arbitrarily from: eth0, d

[2021-12-01 18:19] emersonknapp commented on #926
Can't remember exactly - but I think this is a problem we've run into on Windows in the past - that windows can't send a proper SIGINT. So, the ExecuteProcess does not receive the SIGINT and does not have a clean shutdown, which is how the `metadata.yaml` file is created at the end of the `ros2 bag record` command.

Not 100% positive that's what is happening, but it is ringing that bell. I don't k

[2021-12-01 21:24] ivanpauno commented on #926
Maybe that was this issue https://github.com/ros2/rosbag2/blob/a060c1da8fac91546c77c223cbabcaef85902b01/rosbag2_tests/test/rosbag2_tests/test_rosbag2_record_end_to_end.cpp#L151-L164 (?).

In that case, maybe a similar patch can be added in the place where the issue is happening now.

[2021-12-01 21:28] adityapande-1995 commented on #926
@ivanpauno for ``launch_testing``, maybe ``@launch_testing.post_shutdown_test()`` is a good place to add this change ?

[2021-12-02 01:19] MichaelOrlov commented on #922
@clarkebowers I think a key problem here

It should be `transient-local` to be able to receive messages from history when subscriber joining publisher when he already started publishing messages.

[2021-12-02 02:46] clarkebowers commented on #922
No. I start the capture minutes before the turtle sims are started.

[2021-12-02 12:30] ivanpauno commented on #926
maybe, I don't have much context

[2021-12-02 20:34] adityapande-1995 opened #927 "``.db3`` file access error in windows CI"
## Description
This error appears consistently in vanilla foxy CI in the test case ``TestRos2BagRecord.test_incomplete_qos_profile,
TestRos2BagRecord.test_qos_simple``. First discovered in PR : https://github.com/ros2/launch_ros/pull/289

### Expected Behavior
The db3 file should be found and CI should pass

### Actual Behavior
The following error is thrown: https://ci.ros2.org/job/ci_windows/1587

[2021-12-02 21:42] emersonknapp commented on #922
Just a note to help - you can use triple-backticks ``` to surround formatted blocks of code or output, to make them easier to read.

[2021-12-03 09:47] dongfang-steven-yang opened #929 "Play: start and end time"
## Description

Hello,

I just wonder if `ros2 bag play` has functionality like `-s` as in `rosbag play` in ROS 1?
I would like to debug my algorithm at a specific time in a big bag file. For example, the duration of my bag is 10 mins, when I start to replay the topics, I would like to directly jump into 6 mins, so that every time I open a bag, I don't have to wait.

If there is no such functional

[2021-12-03 10:23] aprotyas commented on #929
I don't think the start/stop timestamp feature is exposed in the CLI tool yet, but the infrastructure exists following the work in and https://github.com/ros2/rosbag2/issues/696 and  https://github.com/ros2/rosbag2/issues/821.

[2021-12-03 10:40] aprotyas commented on #929
Implementation question for maintainers:
For the play start timestamp, can this feature boil down to adding a start timestamp to `rosbag2_py.PlayOptions`, which can then be used to invoke `rosbag2_transport::Player::seek(timepoint)` after construction of a `Player` but before calling `play()` on it? So, right after L115 here.

https://github.com/ros2/rosbag2/blob/2abc50904803a0eae58ee2094542977ec9

[2021-12-03 17:14] emersonknapp commented on #914
Discussed in Tooling WG, decided that it makes sense to use LoanedMessage, deserialize on the publishing side. May need to add utilities to rclcpp::GenericPublisher.

[2021-12-03 19:27] fujitatomoya commented on #914
@Barry-Xu-2018 @iuhilnehc-ynos we are good to go.

[2021-12-03 21:01] emersonknapp commented on #929
These both make sense as additional `PlayOption` fields.

This feature makes sense to me, for starting time, it should be easy to implement by overriding `Player::starting_time_` in `Player::play`.

The end time could be implemented in the dequeueing mechanism by returning `nullptr` from `Player::peek_next_message_from_queue`, which would stop playback at that time. Alternatively, it could be impl

[2021-12-06 03:43] gbiggs commented on #929
We have [a PR in our fork[(https://github.com/gbiggs/rosbag2/pull/5) that adds "play until timestamp" functionality. We're planning on upstreaming it later this week or early next week. It might need some revision though.

[2021-12-06 04:00] aprotyas commented on #929
Oops, I didn't realize there was WIP on this. Feel free to close my PR to reduce the noise.

[2021-12-06 08:19] Barry-Xu-2018 commented on #914
@emersonknapp

Do you mean use existing class `LoanedMessage` ?
https://github.com/ros2/rclcpp/blob/master/rclcpp/include/rclcpp/loaned_message.hpp#L32

If we want to use `LoanedMessage` in rclcpp::GenericPublisher, it seems that we need to change `LoanedMessage`.
[code]
For rclcpp::GenericPublisher, we cannot get message type.

@emersonknapp  @fujitatomoya
There is a new way to avoid modifying ro

[2021-12-07 04:54] Barry-Xu-2018 commented on #914
Yes. I considered only using rclcpp layer to send loaned messages. It will involve 2 types of publisher --- rclcpp::GenericPublisher and rclcpp::Publisher. This leads codes to become complex. So using rcl layer is better than rclcpp layer while borrowing/sending loaned message.

Completely agree. User decides it.

[2021-12-07 08:17] MichaelOrlov commented on #914
@fujitatomoya @Barry-Xu-2018 I want to clarify.
In ApexOS we didn't do

In this function, loan message, deserialized and send message if publisher supports loan message.

Instead we add a new API `GenericPublisher::publish_loaned_message(void * ros_message)` here is [original implementation](https://github.com/ros2/rosbag2/pull/664/commits/06b276f3dc030349a14fc41c8977c10f1ca57e79#diff-23ead5e1be60

[2021-12-07 08:38] Barry-Xu-2018 commented on #914
@MichaelOrlov

In original implementation, `GenericPublisher` is in rosbag2. It was moved to rclcpp layer (rclcpp::GenericPublisher).

So we modify the same class `GenericPublisher`.
About above consideration, I want to combine `GenericPublisher::publish_loaned_message` (mentioned by you) to rclcpp::GenericPublisher::publish().  After the discussion, new function is better. So we want to add new f

[2021-12-08 01:55] #163 closed

[2021-12-08 01:55] #831 closed

[2021-12-08 01:55] #668 closed

[2021-12-08 04:25] Blast545 opened #933 ":man_farmer: `rosbag2_transport` Test regressions with `cyclonedds` + flaky with `fastrtps`"
## Description
New test regressions in the windows buildfarm jobs

`nightly_win_rel`
Patient zero: https://ci.ros2.org/view/nightly/job/nightly_win_rel/2137/
[code]

`nightly_win_deb`

Patient zero according to logs: https://ci.ros2.org/view/nightly/job/nightly_win_deb/2192/
Patient zero according to CI: https://ci.ros2.org/view/nightly/job/nightly_win_deb/2193/
[code]

### Expected Behavior
All t

[2021-12-08 17:27] emersonknapp commented on #933
This would probably me more closely related to https://github.com/ros2/rosbag2/pull/924 - which implements topic filtering, including "multi-type detection". May be more fruitful to look at that one first.

[2021-12-09 17:56] hidmic commented on #926
That should do.

---

To the best of my knowledge, there's no easy, non-intrusive mechanism to ask a process to shutdown in Windows. The underlying process (e.g. `ros2 bag`) would have to expose some sort of discoverable shutdown IPC interface and spin up a background thread to serve it. Or turn the process into a Windows service (:see_no_evil:). No free lunch here.

@emersonknapp looking at the m

[2021-12-09 19:21] emersonknapp commented on #926
Yeah, the metadata as-is is a bit unwieldy, and was built with some undocumented use cases in mind (not by me so I'm only passing familiar with them).

We wouldn't be able to entirely write out the "first half" metadata at startup, because the most important bit is the relative file paths - this is only known on each recording split and so the metadata would need to be updated at those times. Howe

[2021-12-09 19:44] hidmic commented on #926
Hmm, how about a `rosbag2_transport::Recorder` node that implements the lifecycle protocol? We could stop the recording before terminating the process. Parameter based configuration would be a prerequisite (#902).

[2021-12-09 19:57] emersonknapp commented on #926
A slightly simpler approach might be to add a `Recorder::stop` method that can be called at will, instead of having to call the destructor for cleanup.

Parameter based configuration would be very nice but will be a pretty big effort, may not want to block this on that.

[2021-12-14 08:11] MichaelOrlov opened #939 "Bag split doesn't work during recording when cache enabled"
## Description
Bag split doesn't work during recording when cache enabled.

### Expected Behavior
Rosbag2 record multiple files when split enabled alongside with double buffering cache mode.

### Actual Behavior
Rosbag2 records only first file and when split happen dropping all other messages.

## To Reproduce
1. ros2 bag record -a -b 100000 --max-cache-size 1024

## System (please complete the fo

[2021-12-14 08:15] MichaelOrlov commented on #939
RSA: In https://github.com/ros2/rosbag2/pull/850 was occasionally removed restart for the cache consumer thread after the bag split.

[2021-12-14 08:39] MichaelOrlov opened #940 "Rosbag2 consume 100% of the CPU resources on one core in `snapshot` mode."
## Description
Rosbag2 consume 100% of the CPU resources on one core in `snapshot` mode.

### Expected Behavior
Rosbag2 should consume moderate CPU resources, but certainly not 100% in `snapshot` mode.

### Actual Behavior
Rosbag2 consume 100% of the CPU resources on one core in `snapshot` mode.

## To Reproduce
1. ros2 bag record --max-cache-size 100000 --snapshot-mode -a
2. View CPU load via sys

[2021-12-14 21:23] Blast545 commented on #933
@emersonknapp I think it's related to #920 mainly because the timing it was merged and the time the error starting appearing coincides. However, as the test failiure relates to a state maybe left from another test, I'll take a depeer look to see where it comes from.

You mean the test failures related to graceful shutdown? Those seem to be errors that are not happening anymore, you can see the lat

[2021-12-16 08:03] #939 closed

[2021-12-16 15:59] #640 closed

[2021-12-16 15:59] #940 closed

[2021-12-23 14:55] hidmic commented on #926
Exposed as a service? That would work too. A bit ad-hoc, but yeah, simpler than parameter based configuration.

[2021-12-23 15:11] hidmic commented on #922
@clarkebowers that's still not enough. It takes time for the connection between publisher and subscription to establish. For a publisher with a volatile duration policy, all messages sent before that connection settles will be lost (and reliability policies have nothing to do with it). As @MichaelOrlov says, switching to a transient local policy is one possible solution.

BTW, in the general case,

[2021-12-23 15:12] hidmic commented on #922
I'll close this ticket now. Feel free to re-open if you have news.

[2021-12-23 15:12] #922 closed

[2021-12-23 18:19] Blast545 commented on #933
:man_farmer: Some jobs I triggered to get info on the cause of the problem:

Windows job, forcing debug log to track others tests using the `chatter` topic: [![Build Status](https://ci.ros2.org/job/ci_windows/16038/badge/icon)](https://ci.ros2.org/job/ci_windows/16038/)
(The error happens, although is not logged in the job summary)

Testing if the error ocurrs when the package is tested without te

[2022-01-04 22:22] hidmic commented on #933
I suspect @emersonknapp's hypothesis is spot on. E.g. there're plenty `/chatter` topic publishers in `test_security` tests that are terminated by `launch` in its current, not very nice manner.

[2022-01-05 22:52] Blast545 commented on #933
@hidmic What do you mean that these are not terminated in a nice manner?

[2022-01-06 14:38] Blast545 commented on #933
Running a Windows `CycloneDDS` job to get more info:
[![Build Status](https://ci.ros2.org/job/ci_windows/16209/badge/icon)](https://ci.ros2.org/job/ci_windows/16209/)

[2022-01-06 14:55] hidmic commented on #933
@Blast545 On Windows, `launch` (and by extension `launch_testing`) stops processes by hard terminating them. There's no Unix signals equivalent there. Processes are not allowed to terminate gracefully, which sometimes causes problems. That may be the case here, but it's still a hypothesis. Haven't confirmed it yet.

[2022-01-13 21:21] jacobperron commented on #906
We can probably close this ticket since #907. But, I've also staged changes for a subsequent release in https://github.com/ros2/rosbag2/pull/948 :slightly_smiling_face:

[2022-01-16 21:58] KhalidOwlWalid commented on #830
I was just wondering how I could solve this issue in rclpy?

From what I understand, it was suggested for me to follow this [API Break with get_actual_qos()](https://github.com/ros2/ros2_documentation/blob/0aac77333922ac490d356125cb6de4ee07c8a207/source/Releases/Release-Eloquent-Elusor.rst#api-break-with-get_actual_qos) but I cant seem to find anything for rclpy

[2022-01-18 11:13] MFernandezCarmona opened #949 "Undefined reference to sqlite3_sql and sqlite3_errstr in foxy-future branch"
## Description
Tried to compile foxy-future branch, but something is preventing it from finding sqlite3 libraries.

## To Reproduce
1. Cloned the branch
```git clone https://github.com/ros2/rosbag2.git -b foxy-future```
2. Installed dependencies
```rosdep install --from-paths src --ignore-src -r -y```
3. Tried to compile
```colcon build --allow-overriding ros2bag rosbag2 rosbag2_compression rosbag

[2022-01-25 01:32] #906 closed

[2022-01-26 00:22] fujitatomoya commented on #571
@Barry-Xu-2018 all of the interfaces and APIs have been merged in mainline. would you mind taking care of this as well? probably  we can provide the option via `ros2 bag play` to choose if `wait_for_acknowledge` needs to be issued or not? (@emersonknapp what do you think about having the option?)

[2022-01-26 01:38] Barry-Xu-2018 commented on #571
@fujitatomoya

Okay. I will make  a fix.

Yeah. It is better to be an option for user.

[2022-01-26 22:23] clalancette commented on #949
I'm not able to reproduce this error; I can build the `foxy-future` branch just fine here.  Can you run the build again, adding `--event-handlers console_direct+` so we can see more information about what the build is finding?  Also can you give us information about how you are sourcing Foxy?

[2022-01-27 08:02] MFernandezCarmona commented on #949
Of course:
I have foxy installed from binaries and sourcing it with `source /opt/ros/foxy/setup.bash`
As you can see, I was trying to overlay rosbag, maybe the problem is there. Anyway, here is the output (grab a potato, it's a long one):
[code]

[2022-01-27 13:51] clalancette commented on #949
I still can't reproduce here.  For reference, here's exactly what I did in a totally fresh Ubuntu 20.04 container:

[code]

I'll suggest two more things:
1. Can you try this in a clean container, following exactly what I did?  That's to ensure that we are on the same page.
2. Can you explain more about your overlay layout?  That can definitely cause problems, which is what may be going on here.

[2022-01-27 19:21] MFernandezCarmona commented on #949
Hi,
Regarding 1.
I used the docker ros:foxy-ros-base-focal, cloned the repo and I can confirm it works. Compilation was flawless.

Regarding 2.
I tried without any overlay, just sourcing /opt/ros/foxy/setup.bash and trying to compile. Same error. Error is somewhere on my system.

[2022-01-27 19:25] MFernandezCarmona commented on #949
Ok, I think I found it! I searched for libsqlite3 lib on the docker, and there was only one, here:
```/usr/lib/x86_64-linux-gnu/libsqlite3.so```
But on my machine there were two: that one and "another" here:
```/usr/bin/libsqlite3.so```
No idea about how did I manage to put it there, but as soon as I removed it, everything worked.
We can close the issue here, and I have to find why that library wa

[2022-01-27 19:25] #949 closed

[2022-02-01 15:30] geoporus1 opened #955 "[foxy-future] building rosbag2 foxy-future branch from source fails because of shared_queues_vendor failing to download the concurrentqueue project"
## Description
Building the `rosbag2` `foxy-future` branch fails because of the `shared_queues_vendor` failing to build due to some failed downloads. This could also affect other branches of `rosbag2` at the current time but i am not sure.

### Expected Behavior
`rosbag2` `foxy-future` branch builds successfully.

### Actual Behavior
The build of rosbag2 fails when trying to build the `shared_queu

[2022-02-01 15:48] clalancette commented on #955
There were a bunch of failures overnight in trying to grab things from GitHub on https://ci.ros2.org.  I can only assume that GitHub had some hiccup overnight, and that caused the problem.  I'm going to close this for now, but if this reproduces again overnight feel free to reopen.

[2022-02-01 15:48] #955 closed

[2022-02-01 15:49] Henrycious commented on #955
Had the same error today, but with different packages.

For me it helped to download the lastest version of cmake from github (https://github.com/Kitware/CMake) (my version now: 3.22.20220101-g0294570).
After updating Cmake it worked again.
Hope it helps!

[2022-02-01 15:55] geoporus1 commented on #955
@clalancette Actually it is my mistake for not mentioning it in the original description of the issue, but this is happening as we speak. I tried 4 times in a row, just now, to build it and it failed every time with the same error. I believe this is an issue maybe stemming from somewhere else other than a random GitHub hiccup. Can you please re-open this?

@Henrycious thanks for the tip, I will tr

[2022-02-01 16:11] geoporus1 commented on #955
@Henrycious thank you so much for the help! Will post here if this helped! A short check-up showed me that I am indeed using an older version of CMake (3.16.3). Maybe this will really help!

[2022-02-01 16:52] felrock opened #956 "concurrentqueue md5sum changed"
## Description
Project in question:
rosbag2/shared_queues_vendor

concurrentqueue zip file(https://github.com/cameron314/concurrentqueue/archive/8f65a8734d77c3cc00d74c0532efca872931d3ce.zip) new md5sum is c4cc435ec9153208b764015826d40231, so it breaks the CMakeLists.txt download. It retrys a couple of times before returning a garbage error:
--- stderr: shared_queues_vendor
CMake Error at ext-concu

[2022-02-01 17:04] Henrycious commented on #956
You can look there: same error. For me it helped to update to the newest version of CMake

Duplicate of #955

[2022-02-01 17:08] felrock commented on #956
Yeah, the error roots from the md5sum change in the zip file i posted. Not sure how a update to CMake should do any different here. md5sum exists to prevent changes, and here we have a change. Might even be an attack of some sorts.

[2022-02-01 17:25] geoporus1 commented on #956
@felrock good catch! It is very weird why the md5sum would change out of the blue after so long time. Maybe someone can answer this! Good you opened also an issue on concurrentqueue as well!

[2022-02-01 19:39] clalancette commented on #956
This still looks like a GitHub backend error, as we saw this error on multiple different packages in multiple different ways overnight.  Right now, I can build `shared_queues_vendor` locally without changes, so I believe that this is fixed on the GitHub backend now.

[2022-02-01 19:39] #956 closed

[2022-02-01 20:59] felrock commented on #956
How can a backend issue have an effect on a zip file? Do you know any other repositories that have the same issue? Because I've only seen it with this one

[2022-02-01 22:17] clalancette commented on #956
You'll have to ask GitHub support about that.

We had many jobs fail last night with this same error, but on several different packages:

Jobs failing check yaml_cpp_vendor hash:
https://ci.ros2.org/job/nightly_linux_galactic_coverage/286/
https://ci.ros2.org/job/nightly_linux_foxy_coverage/454/
https://ci.ros2.org/view/packaging/job/packaging_linux/2543/
https://ci.ros2.org/view/nightly/job/night

[2022-02-02 14:51] Blast545 commented on #933
FYI this stopped appearing in the buildfarm after the default RMW was changed. See https://github.com/ros2/rmw/pull/315. @hidmic @clalancette

[2022-02-03 15:59] gavanderhoorn commented on #956
Related / follow-up on ROS Answers: [Circumvent _vendor projects](https://answers.ros.org/question/395572).

[2022-02-03 16:18] felrock commented on #956
It's not even close to a follow-up discussion regarding this problem. I refereed to this issue as example as to why _vendor projects_ suck, in my opinion ofc.

[2022-02-03 20:09] emersonknapp commented on #571
It looks like this is closed by #951 (please reopen if that is not the case). By the way, yes, the option seems like a good idea to me.  Good work :+1:

[2022-02-03 20:09] #571 closed

[2022-02-03 20:09] emersonknapp commented on #830
Closing as fixed - please reopen if needed

[2022-02-03 20:09] #830 closed

[2022-02-04 16:30] jacobperron commented on #868
The fix has also been released: https://github.com/ros/rosdistro/pull/32041

[2022-02-04 16:30] #868 closed

[2022-02-15 14:22] Jendker opened #961 "rosbag2_transport build fails on ARM Debian bullseye"
## Description
rosbag2_transport fails to build on ARM Debian bullseye

## To Reproduce
Build with the following Dockerfile:

[code]

On the last step of the Dockerfile during rosbag2 build I get:

[code]

## System (please complete the following information)
 - OS: ARM Debian bullseye (docker)
 - ROS 2 Distro: Galactic
 - Version: galactic branch

[2022-02-16 16:14] #961 closed

[2022-02-22 13:48] berndpfrommer commented on #902
I just checked and as of today 2/22/2022 the modified header files have not made it into the official ubuntu galactic packages. Is there a schedule for when that will happen?

[2022-02-22 17:23] fabrizioschiano commented on #655
Hi @jaan1729 , did you understand why `sensor_msgs_py` did not work? I m stumbling across the same problem. Thanks!

[2022-02-25 02:08] wjwwood commented on #782
Just reading this now, as part of some other work I'm doing, and I just wanted to point out that currently rosbag (AFAIK) requires the typesupport be installed locally for a message when recording or playing back, so the message definitions could be stored in those packages and accessed by rosbag locally, therefore not strictly requiring https://github.com/ros2/ros2/issues/1159 in order to address

[2022-03-03 12:50] imstevenpmwork commented on #885
For those who might be interested, I quickly did a script for the original issue using the rosbag2_py API as suggested. It is probably not the best, but it does the job.
[https://github.com/imstevenpmwork/filter_tf_topic_from_bag](https://github.com/imstevenpmwork/filter_tf_topic_from_bag)

[2022-03-03 14:18] bednarhonza opened #965 "Header files are missing in the include folder"
## Description
`#include <rosbag2_transport/qos.hpp>` does not work, because `qos.hpp` file is missing in the `/opt/ros/galactic/include/rosbag2_transport/ folder.

### Expected Behavior

### Actual Behavior

## To Reproduce
1. Write a code that includes `#include <rosbag2_transport/qos.hpp>`.
2. Using the default packages, it will not compile since the file is not there.

## System (please comple

[2022-03-03 15:38] Narendarselva opened #966 "Playing of bag which is recorded with split by duration/size is not working properly ."
## Description
Playing of bags recorded with split by duration/size is not playing properly.
It plays only the last recorded .db3.

### Expected Behavior
It should play all the .db3 files which are recorded instead of last recorded .db3

### Actual Behavior
Let say we recorder a bag with duration split of 10 sec for 50 secs.
Then we will get a total of 5 .db3 files recorded at regular 10 secs inte

[2022-03-03 18:34] fujitatomoya commented on #885
related to https://github.com/ros2/design/pull/282

[2022-03-03 18:50] Narendarselva commented on #966
Issue is due to updating  overall starting_time & duration of metadata with the last recorded db3 files start_time & duration.

index b53a554..f352739 100644
--- a/rosbag2_cpp/src/rosbag2_cpp/writers/sequential_writer.cpp
+++ b/rosbag2_cpp/src/rosbag2_cpp/writers/sequential_writer.cpp
@@ -296,18 +296,14 @@ void SequentialWriter::write(std::shared_ptr<rosbag2_storage::SerializedBagMessa
     split_

[2022-03-03 20:32] theseankelly opened #967 "Race condition in discovery of QoS prevents recording topics published with non-default QoS"
## Description
There is a race in the DDS participant discovery process such that `ros2 bag record` may discover the presence of a topic based on the existence of a DDS `DataReader` *before* the matching `DataWriter` is discovered.

When this race is lost, `rosbag2_transport` will discover no offered QoS profiles and will instead [subscribe with a default QoS](https://github.com/ros2/rosbag2/blob/

[2022-03-03 20:56] theseankelly commented on #967
Oh, and I forgot to mention that this issue does reproduce on both CycloneDDS and FastDDS -- I believe the race is not necessarily a middlware bug, but is just how the DDS discovery spec works.

[2022-03-09 12:59] clalancette commented on #965
No, but it shouldn't be necessary.  Since that header isn't available in Galactic, the build of plotjuggler shouldn't need it.  This seems like a bug in plotjuggler, or at the very least it needs a backport of some things to Galactic from Rolling.

Regardless, I think this particular issue is solved, so I'll close this out.

[2022-03-09 12:59] #965 closed

[2022-03-09 20:26] andrewbest-tri opened #970 "Enable discovery after launch (perhaps as an action or service call?)"
## Description

When running longer experiments, it may be the case that topics start or stop publishing at different times. When collecting a ros bag, it would be extremely helpful for us to be able to trigger discovery on a running bagger so it can pick up new topics. We've tried pre-selecting the topics that may appear. It is prone to human error and may create issues with QOS. We'd like to be

[2022-03-09 20:30] andrewbest-tri opened #971 "Enable Regex topic selection or rejection"
## Description

Deciding which topics to bag could be improved by allowing a regex for topic subscription and rejection. In this way, we could prefix topics we definitely do not want to log, e.g. `ros bag record --exlucude /nolog/*`, or subscribe to entire device feeds without struggling to capture all possible topics, e.g. `ros bag record /imu/*`

This would enable us to expose additional topics

[2022-03-10 08:58] narutojxl commented on #706
My OS is ubuntu20.04, installed foxy by debian. I want to play ros2 bag offline to test a slam and localization system. `/clock` topic is not published by anyone. I see in the https://github.com/ros2/rosbag2/issues/99#issuecomment-904837893 says,  "It is available in Galactic and Rolling distributions". But in `master` and `galactic`, can not build successfully, as the same error,

Git checkout `f

[2022-03-11 08:54] Barry-Xu-2018 commented on #773
I am considering the requirement of recorded data and the feasibility of realization.
From the perspective of use case,

Service/Client
- Record data for debugging service side
  I think this feature request can cover this use case.

- Record data for debugging client side
  Impossible to implement (from my thought)

Action
- Record data for debugging action service side
  Record sent goal.
  I th

[2022-03-11 09:26] MichaelOrlov commented on #970
@andrewbest-tri Starting recording with `ros2 bag record -a` will not solve your problem?
i.e. running discovery continuously.

[2022-03-11 16:44] fujitatomoya commented on #773
being off possibility or feasibility, we would want to support the following use cases? (at least i would do as application engineer.)

- service server development with recorded request. probably it would be nice to load the recorded request bag file to `ros2 action` and then we can see the status, feedback and response. (same use case can be applied to service server.)
- all recorded data of ser

[2022-03-11 17:57] defunctzombie opened #972 "Readers detect storage plugin automatically"
## Description

When using the `ros2 bag` CLI for info, playback, and recording it would be nice to detect the storage plugin based on the file extension.

For example if I record an [MCAP](https://github.com/foxglove/mcap) file using the [mcap storage plugin](https://github.com/ros-tooling/rosbag2_storage_mcap) I record to .mcap files. When I want to go and play those files, I'd like to use

[cod

[2022-03-11 18:25] clalancette commented on #972
I think the idea to automatically load the plugin based on the input file is a good one.  Another way to determine the right plugin to load would be to look at the beginning of the input file, looking for particular markers.  This seems more reliable than the extension name, and is similar to how `file` works.

[2022-03-13 02:05] kunaltyagi commented on #773
If this feature isn't supported out-of-the-box, the community would have to create message based services and actions. Wouldn't that kind of defeat the purpose of the design process of ROS2? The community based solutions might not have the same level of guarantees that the core ros2 libraries come with.

This is a very important feature for systems actually in deployment, and I can't stress this e

[2022-03-13 04:02] Barry-Xu-2018 commented on #773
I think we need to consider how to record service/action beyond the limitations of the current implementation of rosbag2.
e.g.
rosbag2 will record all communication message between service/action service and client/action client.
And then user can use tool like wireshark to check the content of messages at each record time point , which may come from the client or from the server.

This needs to f

[2022-03-13 19:20] Flova commented on #819
Quite some time since the last comment, but I think that the new way of having a folder is quite painful to use. It is not that bad, but another minor inconvenience in ROS2. Many file formats (e.g. epub, apk, ...) consist of an internal folder structure that is hidden by a tar or zip archive. Accessing the metadata is quite easy as one just needs to grab an archive tool of his choice and view the

[2022-03-13 20:19] amacneil commented on #855
I think we should close this ticket because it is not well defined. The main request is to make the file format self-contained, which was a primary design goal for [mcap](https://foxglove.dev/blog/introducing-the-mcap-file-format) and will be available for testing in ROS 2 (as an alternative to sqlite) very soon.

[2022-03-13 20:28] jhurliman commented on #855
The ROS2 MCAP storage plugin is ready for testing, please try it out and provide feedback: https://github.com/ros-tooling/rosbag2_storage_mcap

[2022-03-14 10:48] hz658832 opened #973 "Nodes stop publishing after ros2 bag record -a"
## Description
ROS distribution: foxy, built from source on ARM64
ROS nodes: novatel_oem7_driver, velodyne, microstrain_inertial

### Expected Behavior
- topics from novatel GNSS receiver, max. in 10Hz are recorded without lost
- topic /velodyne_points, max. in 10Hz is recorded without lost
- topics /imu/data /mag, in 100Hz are recorded without lost

### Actual Behavior
- the nodes can be started

[2022-03-15 16:02] andrewbest-tri commented on #970
I am experimenting again with this. In the past I have had missing data with -a, however I also had significant problems using fastRTPS configs. I may have incorrectly diagnosed the problem!

[2022-03-15 16:07] andrewbest-tri commented on #970
Ah, yes this is a misdiagnosed problem. I am able to test this with a small dataset. The larger issue relates to https://github.com/ros2/rosbag2/issues/971 and the fact that i have been running without -a so i dont accidentally grab image topics I don't want.

Running with -a works in that I can see it subscribing to new topics (now that I have gotten rid of my fastrtps issues).
Running without -a

[2022-03-15 16:35] audrow commented on #855
Sounds good. Closing.

[2022-03-15 16:35] #855 closed

[2022-03-16 18:38] MichaelOrlov commented on #970
@andrewbest-tri Thnak you for the clarification. I am closing this issue then.

[2022-03-16 18:38] #970 closed

[2022-03-16 18:45] MichaelOrlov commented on #971
@andrewbest-tri We already have special parameter for excluding topics.
[code]
I think it should cover your case.
Please let us know if not.

[2022-03-16 18:56] andrewbest-tri commented on #971
So indeed it appears this is available in galactic. We're on foxy but have requisitioned a backport. I will investigate if there are issues using the existing filters. In the future, any advice for how I could find out about these available features before filing issues? Is this documented and I missed it?

[2022-03-17 19:20] t0ny-peng commented on #547
@emersonknapp Thanks for the valuable comments. I happened to be assigned the similar task of adding custom metadata support. If it hasn't been implemented anywhere else, I'm happy to create a PR once it's done.

[2022-03-22 17:44] jhurliman commented on #819
The MCAP storage plugin (https://github.com/ros-tooling/rosbag2_storage_mcap) is ready for testing. Once it has a few users that can confirm it's working for their day-to-day usage, we'll publish to rolling then humble as an apt package and close this issue out.

[2022-03-23 02:18] narutojxl opened #974 "Could foxy-future branch can pause ros2 bag play"
Hello all,
Install foxy by `apt install`, clone rosbag2 source code, checkout foxy-future branch, build OK. So  how could i pause ros2 bag play bag_files with keyboard?  Thanks for your help!

[2022-03-23 14:42] Gregory119 opened #975 "Max bag file size not conformed to with SequentialWriter in snapshot mode"
The check to create a separate bag file when reaching the bag file size limit is only done after writing the entire cache to disk. So for example, if there are 5000 bytes of cached messages, the max bag file size is 3000 bytes and the current bag on disk is 0 bytes. Then if a snapshot request is made the entire cache will be written to the bag file file making it 5000 bytes (over the 3000 limit).

[2022-03-25 11:17] chrmel opened #978 "Data loss when using compression (ros2 bag record)"
## Description
Recording big bags with ```ros2 bag record --max-bag-size=2000000000 --compression-mode file --compression-format zstd``` topics get lost during compression.

### Expected Behavior
When a new bag is opened and the old one gets compressed I would expect the new bag to contain all topics published (those published during time of compression as well).

### Actual Behavior
During the co

[2022-03-25 11:19] chrmel commented on #978
Probably related or same issue as https://github.com/ros2/rosbag2/issues/973

[2022-03-26 14:33] haliy369 opened #979 "ros2 bag command -d Splitting by time doesn't work"
## Description
** ros2 bag record -a -d 10  will not Splitting by time **

### Expected Behavior
** execute  “ros2 bag record -a -d 10” will Splitting by 10 seconds**

### Actual Behavior
** execute  “ros2 bag record -a -d 10” can not Splitting by time **

## To Reproduce
**
1. execute  “ros2 bag record -a -d 10” command
2. generate only one bag

## System (please complete the following informatio

[2022-03-28 05:07] fujitatomoya commented on #914
@Barry-Xu-2018

I think we can proceed this issue based on rclcpp interfaces https://github.com/ros2/rclcpp/pull/1856.

[2022-03-28 05:12] Barry-Xu-2018 commented on #914
@fujitatomoya

Yes, I start to make PR for rosbag2.

[2022-03-28 08:27] haliy369 commented on #979
All file in the same bag,not a standalone package

[2022-03-28 08:27] #979 closed

[2022-03-28 22:41] emersonknapp commented on #782
This is the approach that @jhurliman is trying to take now, but isn't sure how to implement - see https://github.com/ros2/ros2/issues/1159#issuecomment-1064674121

[2022-03-28 22:45] jhurliman commented on #782
This is implemented now. See https://github.com/ros-tooling/rosbag2_storage_mcap/blob/main/rosbag2_storage_mcap/src/message_definition_cache.cpp

[2022-03-28 22:58] emersonknapp commented on #782
Oh I see - nice! I might think best possible scenario is that this functionality is implemented in the ros2 core, and the contents passed to the storage implementation to store. Ideally the storage implementation doesn't have any dependency on the ROS2 system, and also the behavior could be shared between implementations. I do get that this was the fastest way to get it working in the mcap storage

[2022-03-28 22:59] emersonknapp commented on #975
Good catch - this is definitely a bug in the interaction between these two features.

[2022-03-28 23:02] emersonknapp commented on #972
Agreed - though I think it doesn't hurt to use extension as a hint. Could also do a "try all storage plugins" loop and see if one is successful at opening

[2022-03-28 23:05] emersonknapp commented on #973
To answer the question - the original `foxy` branch was preserved and is the released binary, because `foxy-future` breaks the exposed APIs. The foxy binaries therefore have significantly worse performance than rosbag2 built from `foxy-future` branch.

Have you tried building rosbag2 `foxy-future` from source in your workspace and using that? It will likely have different behavior

[2022-03-28 23:07] emersonknapp commented on #974
Keyboard controls for playback were added in https://github.com/ros2/rosbag2/pull/847 - this feature is only currently available in Rolling (and will be released in Humble)

[2022-03-28 23:07] #974 closed

[2022-03-28 23:08] emersonknapp commented on #978
For context, the threading logic all happens in a C++ layer - the Python CLI is only a thin wrapper around calling the C++ core.

You mention you're building from source, are you using the `foxy` branch, or the `foxy-future` branch? I might recommend `foxy-future` as it has many performance improvements and bugfixes that could not be released officially into Foxy due to API breakage

[2022-03-28 23:11] emersonknapp commented on #971
Unfortunately, I'd say that documentation is the most lacking part of the project right now.

Significant feature backports can be difficult, while maintaining the required API compatibility, especially if the feature was introduced much later after the code had changed a lot.

[2022-03-29 09:17] MichaelOrlov commented on #978
Can be related to the #936, #866 and #647

[2022-03-29 11:41] hz658832 commented on #973
Hi @emersonknapp,

thanks for the reply!

I have found the reason, it wasn't the rosbag2.

I am using the novatel_oem7_driver and velodyne, everytime if I have started this two in same time, the novatel_oem7_driver stops publishing message and the device got stucked. I believe this should a bug in the driver from the novatel company.

Interestingly, same pkgs work fine in ROS1....

But the fact is

[2022-03-29 11:41] #973 closed

[2022-03-30 05:59] chrmel commented on #978
_> For context, the threading logic all happens in a C++ layer - the Python CLI is only a thin wrapper around calling the C++ core._

Thank you for clarification about Python CLI wrapping C++ logic. I did not know how this worked.

_> You mention you're building from source, are you using the `foxy` branch, or the `foxy-future` branch? I might recommend `foxy-future` as it has many performance imp

[2022-03-30 06:43] alvaropascuaI opened #983 "I can't import rosbag2_py in Ros Foxy"
I want to make a python node to be able to record my topics, I have been looking and for example in Ros Galactic they use rosbag2_py to be able to write in a file, then also in Ros Foxy an example but they do it with c++ and I need it in python and I don't I know what else to look at

## System:
 - OS: Ubuntu 20.04
 - ROS 2 Distro: Ros Foxy

[2022-03-30 08:20] aprotyas commented on #983
rosbag2_py does not exist in the standard Foxy release but can be accessed in the [`foxy-future` branch](https://github.com/ros2/rosbag2/tree/foxy-future).

[2022-03-30 09:24] alvaropascuaI commented on #983
Yes it works thank you very much

[2022-03-30 09:28] #983 closed

[2022-03-30 13:13] Adum888 commented on #764
Hi are there any updates on this topic?
I'm runnig into trouble when merging to bagfiles that have data derived from the same source bag file (played with --clock). The Timestamps (in the header) seem to be alright (-->sim-time) but the placement in the new bagfile is relative to the recording time

[2022-03-30 23:51] #547 closed

[2022-04-01 01:56] MichaelOrlov commented on #764
@Adum888 @emersonknapp As far as I am understand correctly this feature has not been done yet.
It looks like implementation is going to be pretty straight forward.
Will need to change one line in [Recorder::create_subscription(..)](https://github.com/ros2/rosbag2/blob/master/rosbag2_transport/src/rosbag2_transport/recorder.cpp#L261) callback to start using clock from node. e.g.
[code]
and somewher

[2022-04-04 22:05] Blast545 commented on #933
This error has appeared flakily with `fastrtps` on Windows, see:

https://ci.ros2.org/view/nightly/job/nightly_win_rel/2251/
https://ci.ros2.org/view/nightly/job/nightly_win_rel/2257/
https://ci.ros2.org/view/nightly/job/nightly_win_rel/2261/

https://ci.ros2.org/view/nightly/job/nightly_win_deb/2317/

It hasn't appeared in the repeated jobs though.

[2022-04-11 17:42] Blast545 commented on #933
I marked you as assigned and moved this to the "in progress" section of the Humble board mainly so others don't take a look into this right now @clalancette

[2022-04-12 02:39] benbarron opened #986 "receive class loader memory heap warning when using rosbag2_py.SequentialCompressionReader"
## Description
When I use the SequentialCompressionReader class in the following manner I get the error below.

[code]

[code]

I have observed this behavior with both zstd compression and my own custom compression plugin. I am not sure if this is a bug or a warning that can just be ignored. If it is a bug I can provide more details on reproducing issue.

## System
- Device: nvidia jetson agx - je

[2022-04-13 19:51] clalancette commented on #732
https://github.com/ros2/rosbag2/pull/988 should improve the situation, I believe.

[2022-04-14 14:05] vinnnyr opened #990 "Ros bag reindex does not work when bag is compressed"
## Description
Right now `ros2 bag reindex` does not seem to work when the bag contains compressed files with splits

### Expected Behavior
Ros2 bag reindex works even when a bag contains compressed data

### Actual Behavior
[code]

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. Record a bag with splits and compression: `ros2 topic pub /chatter std_msgs/msg/Int32 '{data: 1}' -r 2 & ro

[2022-04-19 10:40] alvaropascuaI opened #991 "I can't do the colcon"
I am trying to launch the colcon build --merge-install and it tells me the following error I have launched the **sudo apt install ros-foxy-ament-cmake** command to install it but it still fails me

![image](https://user-images.githubusercontent.com/97975075/163986605-f4e66f75-5572-4c78-b16b-728c2117dcf5.png)

## System
 - OS: Ubuntu Desktop 20.05
 - ROS 2 Distro: foxy
 - Version: branch foxy-futur

[2022-04-19 12:07] clalancette commented on #991
Did you source `/opt/ros/foxy/setup.bash` before trying to compile?

In general, please ask questions like this over on https://answers.ros.org, which is our central question and answer site.  You are more likely to get a response there.  Closing this out.

[2022-04-19 12:07] #991 closed

[2022-04-19 21:21] Blast545 opened #992 "`rosbag2_cpp.TimeControllerClockTest.unpaused_sleep_returns_true` test fails on Windows"
## Description
This test is failing in the repeated jobs of the buildfarm:
https://ci.ros2.org/view/nightly/job/nightly_win_rep/2588/testReport/junit/rosbag2_cpp/TimeControllerClockTest/unpaused_sleep_returns_true/

This is the code of the test:
https://github.com/ros2/rosbag2/blob/5fa3a67e79a03206e4e721a7c714caff72966801/rosbag2_cpp/test/rosbag2_cpp/test_time_controller_clock.cpp#L154

From what

[2022-04-20 11:59] Kaju-Bubanja commented on #966
This is still an issue in master, could you make a PR or reformat your fix more clearly so that I could make a PR out of it. You can paste code using triple backticks

[2022-04-26 11:21] KeisukeShima commented on #764
@MichaelOrlov @emersonknapp
I have created a PR based on your comments, would you review the PR?
https://github.com/ros2/rosbag2/pull/994

[2022-04-26 15:18] Blast545 commented on #862
Without taking into account the repeated jobs, this one has occurred 13 times in the last 20 days. In the `nightly_win_rel`, `nightly_win_deb`, `nightly_linux_release`, `nightly_linux_aarch_release` and `Rci__nightly-release_ubuntu_jammy_amd64`.

Here's a recent reference: https://ci.ros2.org/view/nightly/job/nightly_win_rel/2278/testReport/junit/(root)/rosbag2_transport/test_play_services__rmw_fa

[2022-04-27 08:07] ksatyaki commented on #473
I get a "string data is not null-terminated" on galactic when using the `SequentialReader` when deserializing messages.

[2022-05-01 02:03] amacneil opened #998 "Convert command with zstd randomly deletes data"
## Description
When I run `ros2 bag convert` with zstd compression the resulting bag is missing many messages.

This happens with `compression_mode=message` but not with `compression_mode=file`.

### Expected Behavior
Expected to convert my bag file without losing data.

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. Open attached bag file [uncompressed.zip](https://github.com/ros2/ro

[2022-05-01 17:55] amacneil commented on #978
This is a very concerning bug - data loss is a worst case scenario for a data recording tool. Has anyone tried to repro/investigate it in galactic/humble/rolling?

[2022-05-02 12:35] clalancette commented on #978
I haven't investigated it myself, but looking at the Dockerfile in use, the original reporter is likely using the `foxy` branch of this repository.  That branch has known performance and dataloss issues, which is why we recommend the `foxy-future` branch there.  It would be interesting to see if the original problem can be reproduced with the `foxy-future` branch, which is much closer to what is i

[2022-05-03 03:44] amacneil commented on #978
Good point.

@chrmel have you tested this in Galactic?

[2022-05-03 05:47] chrmel commented on #978
@amacneil I tried building from source with branch *galactic* but it did not succeed. I can try test it with the pre-built packages.

[2022-05-03 10:06] chrmel commented on #978
Ok, I tested my setup with the pre-built debian packages for distros *foxy* and *galactic*.

# Testing with sample data
Every step in the data represents the time a new split bag file beeing created.
![image](https://user-images.githubusercontent.com/64899480/166433537-a67e510e-53ac-4c8b-b331-fddf60d6201a.png)

## foxy
Recording data with ```ros2 bag record --max-bag-size=500000000 --compression-m

[2022-05-03 12:39] imstevenpmwyca opened #999 "rosbag2_transport::Recorder .reset()"
## Description
I'm trying to use some tools exposed by the ros2bag_transport package but each time that I try to reset a
[code]
I get
[code]

### Expected Behavior
I believe the code below should just finish normally without an error. Am I doing something wrong?

### Actual Behavior
Instead I'm getting this backtrace
[code]

## To Reproduce
[code]

## System
 - OS: Ubuntu 20.04.4 LTS
 - ROS 2 Dist

[2022-05-04 08:04] Kaju-Bubanja opened #1000 "ros2 bag can't be shut down with ctrl + c when the bag is paused"
## Description
ros2 bag can't be shut down with ctrl + c when the bag is paused, but it can also not be resumed after sending ctrl + c once. It enters a frozen state where only ctrl + z helps.

### Expected Behavior
Clean shutdown like when the bag is not paused

### Actual Behavior
The program freezes

## To Reproduce
1. Play a bag
2. Pause bag
3. Press ctrl + c
4. Observe that it doesn't shut do

[2022-05-04 22:26] MichaelOrlov commented on #1000
@Kaju-Bubanja I confirm this issue. I came across on it recently too.
Thinking how to better fix it.

[2022-05-05 08:14] Kaju-Bubanja commented on #1000
@MichaelOrlov While I have your attention :P May I ask you to have a look at this issue: https://github.com/ros2/rosbag2/issues/966 ? The ctrl + c or z issue is a minor cosmetic thing, but the issue 966 is really a blocker for me right now, because I can't play back a large bag file which is split. The issue seems orphaned but easy to fix(I assume, could always turn out very hard ofc), if you know

[2022-05-05 08:55] ShuiYunXi commented on #139
[ERROR] [1651739381.334239687] [rosbag2_storage]: Unable to load instance of read write interface: Failed to load library /opt/ros/foxy/lib/librosbag2_bag_v2_plugins.so. Make sure that you are calling the PLUGINLIB_EXPORT_CLASS macro in the library code, and that names are consistent between this macro and your XML. Error string: Could not load library LoadLibrary error: libroscpp_serialization.so

[2022-05-06 16:06] MichaelOrlov commented on #999
@imstevenpmwyca I confirm this problem. The issue that that we currently don't have **stop** operation in `Recorder` and destructor doesn't fully care about appropriate interruption and finish of the recorder.

This issue will be fixed soon when we `ApexAI` will upstream `stop` command for the Recorder.

For a while I can suggest a workaround by calling
[code]
before resetting recorder.
If it will

[2022-05-06 16:20] MichaelOrlov commented on #1000
@Kaju-Bubanja After some analysis I can say that fix for this particular issue is going to be in one line and most probably will need to add one more regression test.
Although for #966 it is quite more complicated and entire feature for splitting bags need more "love".
We have multiple issues with splitting bags https://github.com/ros2/rosbag2/pull/936, https://github.com/ros2/rosbag2/pull/866 and

[2022-05-06 16:34] MichaelOrlov commented on #978
Issue related to the playing only last bag from split was found before and described here https://github.com/ros2/rosbag2/issues/966

[2022-05-06 17:00] Kaju-Bubanja commented on #1000
I see, unfortunate because I have a weeks worth of data which I can't analyse. I guess I will dig into the code to see what I can do.
I guess wouldn't is a typo and should be would?

[2022-05-06 17:18] MichaelOrlov commented on #1000
You can try to put correct start time in `metadata.yaml` file manually.  Just need to figure out the correct one.
To do this you can open up `.db3` file in some `SQLite3` db manager and see timestamp in first message.

[2022-05-06 17:21] Kaju-Bubanja commented on #1000
The thing is the times are correct everywhere, that's what confused me. They are correct in the metadata.yaml and in the individual bags. I think the reader is somehow broken.

[2022-05-06 18:34] audrow commented on #1000
Hey @MichaelOrlov, for the Humble release, do you think we should say in the release documentation that splitting bags is an experimental feature?

[2022-05-06 20:04] MichaelOrlov commented on #1000
@audrow Not sure that it's a good wording to say that it's experimental since it's already exists for a while, more than year or so.
May be better way to refer to the known #647 and #966 issues?

[2022-05-07 00:49] MichaelOrlov commented on #862
@Blast545 I've spent some of my time and tried to make analysis for failures in tests:

 -  As regards to the failures in [rosbag2_transport.ClockPublishFixture.clock_is_published_at_chosen_frequency](https://ci.ros2.org/view/nightly/job/nightly_win_rel/2278/testReport/rosbag2_transport/ClockPublishFixture/clock_is_published_at_chosen_frequency/) and [rosbag2_transport.ClockPublishFixture.clock_re

[2022-05-07 02:15] MichaelOrlov commented on #992
@Blast545 The test fails because we are using `std::condition_variable_any::wait_until`  in https://github.com/ros2/rosbag2/blob/0.15.1/rosbag2_cpp/src/rosbag2_cpp/clocks/time_controller_clock.cpp#L177 and according to the https://en.cppreference.com/w/cpp/thread/condition_variable_any/wait_until
"wait_until causes the current thread to block until the condition variable is notified, a specific ti

[2022-05-07 08:06] Kaju-Bubanja commented on #1000
Maybe the best would be to have a warning where the doc is on how to use it. Because for me it was quite a surprise, the rest of rosbag2 works good, so i expected the split feature to work too and didnt test playback first before collecting data. This just in case the humble release happens before the fix. Better be warned then surprised later.

[2022-05-09 16:52] audrow commented on #1000
Perhaps a warning would be a good idea.

The nice thing about calling it "experimental" is that, IIUC, it doesn't lock in the API/ABI, so that they can change if needed to make fixes. To me it basically means that it's still evolving, which doesn't necessarily relate to how long the feature has been around.

[2022-05-10 00:38] MichaelOrlov commented on #1000
@Kaju-Bubanja I've prepared fix https://github.com/ros2/rosbag2/pull/1002 for this bug.

[2022-05-10 00:56] MichaelOrlov commented on #914
Closing as done in #981

[2022-05-10 00:56] #914 closed

[2022-05-10 01:12] MichaelOrlov opened #1003 "On play message callbacks"
## Description

It would be very useful to have ability to specify callbacks triggering before and after publishing each message.

It could be useful for writing external applications using `Rosbag2::Player`. In particular it could be used to track progress of playback or be able to process timestamp or message data or trigger some event in external logic before or after publishing message on wire

[2022-05-10 23:41] MichaelOrlov commented on #967
Closing this as done in #968

@theseankelly If you are still interesting to have this fix in Humble release please crate separate PR for backporting #968 and targeting https://github.com/ros2/rosbag2/tree/humble branch.
Please consider to make it soon we need to finish with it until May19.

[2022-05-10 23:41] #967 closed

[2022-05-11 00:40] alluring-mushroom commented on #972
As the number of storage options grows and/or the number of users of alternate storage options grows, this becomes very valuable. This would be a worthwhile enhancement

[2022-05-11 20:20] MichaelOrlov commented on #992
@Blast545 I would appreciate if you would do it by yourself.
I don't mind about who will be authoring it.
I am honestly have a lot on my plate and can't keep up with all tasks which need to do.

[2022-05-11 20:42] MichaelOrlov commented on #1000
@audrow

Ok. I agree.
Wouldn't you mind to put such warning in release doc by yourself?

[2022-05-11 21:10] wjwwood opened #1011 "Warnings about 'Topic ... has unknown type' spam when specifying topics to be recorded which do not exist"
## Description

When asking rosbag to record a list of topics when some of those topics do not exist _and_ some of those topics have unknown types results in continuous spam of messages like this:

[code]

These messages are printed over and over again, despite there being some logic to try and only print it once per type:

https://github.com/ros2/rosbag2/blob/a076560b09a6d80ce91815f4a03e113a0331a

[2022-05-11 21:54] MichaelOrlov commented on #862
@Blast545 BTW. I see that `rosbag2_transport.test_play_services__rmw_fastrtps_cpp` periodically fails on CI.
Here is one of the examples https://build.ros2.org/job/Hpr__rosbag2__ubuntu_jammy_amd64/1/testReport/junit/(root)/projectroot/test_play_services__rmw_fastrtps_cpp/
I am curious about if it fails only with **rmw_fastrtps** ?

I've tried to make a brief analysis of the failure.
I see that fai

[2022-05-11 22:32] Blast545 commented on #862
Thanks for digging into this! @MichaelOrlov

Yeah, the `rosbag2_transport.test_play_services__rmw_fastrtps_cpp` is the one flaky remaining affecting us the most. I have seen it in various `rosbag2_transport` PRs.

On Linux it happens only for `rmw_fastrtps`, in case it rings a bell, it only occurs on release builds.
[Rci__nightly-release_ubuntu_jammy_amd64#74)](https://build.ros2.org/view/Rci/job/

[2022-05-12 02:52] MichaelOrlov commented on #862
@Blast545 I see how test fails on `rmw_cyclonedds` from your link https://ci.ros2.org/view/nightly/job/nightly_win_rep/2591/testReport/junit/(root)/projectroot/test_play_services__rmw_cyclonedds_cpp/.
It fails in another test `toggle_pause`. With just few iterations for service call.
And seems that timeout in 1 second for service call is not enough for some cases. Probably with heavy loaded HW or

[2022-05-12 03:01] #764 closed

[2022-05-12 18:21] audrow commented on #1000
Will do.

[2022-05-13 20:25] Blast545 opened #1015 ":man_farmer: `Killed signal terminated program cc1plus` while building `rosbag2_transport/test_play_loop.cpp.o`"
## Description
I don't think it's coincidence two coverage jobs failed with:

[code]

Failed coverage builds:
https://ci.ros2.org/job/nightly_linux_coverage/1606/
https://ci.ros2.org/job/nightly_linux_humble_coverage/17/

This issue is mainly to keep track, may happen again over the weekend.

### Expected Behavior
Package gets built without failures.

### Actual Behavior
Fails to build.

## To Rep

[2022-05-14 02:31] #992 closed

[2022-05-14 17:25] #1000 closed

[2022-05-16 19:30] ros-discourse commented on #782
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/make-your-ros-2-files-self-contained-smaller-and-more-performant/25590/1

[2022-05-23 08:13] karthiknit1 opened #1019 "ros2 bag play error on windows foxy - [rosbag2_transport]: Failed to play: cannot get file size"
## Description
when there is only rosbag2_2021_09_27-09_11_59.db3 file and no metadata.yaml file, when I tried to play the bag file using the command "ros2 bag play rosbag2_2021_09_27-09_11_59.db3", the following error is encountered in ROS 2 Foxy terminal on windows.

[ERROR] [1652675142.815790900] [rosbag2_transport]: Failed to play: cannot get file size: The file pointer cannot be set on the sp

[2022-05-23 16:34] audrow commented on #1000
FYI, here's the release note in the known issues section: https://github.com/ros2/ros2_documentation/pull/2643.

[2022-05-23 17:56] MichaelOrlov commented on #1000
Thank you @audrow. Much appreciated.

[2022-05-24 14:56] benbarron opened #1020 "Determining the message type in a compression plugin."
I have a use case where I would like to determine the type of a message in my compression plugin. This could be accomplished by adding the type_name to `SerializedBagMessage`.

The new data structure.
[code]

 Is this something that is doable? Is there another way to determine the type? I saw a similar issue https://github.com/ros2/rosbag2/issues/677 but it looked like it has been inactive for abo

[2022-05-25 06:39] MichaelOrlov commented on #1020
@benbarron It's sort of implemented in new mcap storage plugin please refer to the https://github.com/ros-tooling/rosbag2_storage_mcap/blob/main/rosbag2_storage_mcap/src/mcap_storage.cpp#L357-L371

[2022-05-25 22:32] #1011 closed

[2022-05-30 04:10] YLyeliang opened #1021 "How to read topics using rosbag2"
Is there any way in Python API( or C++) to read the data from rosbag2, and convert it to other formats like json or image?
Thanks

[2022-05-30 12:35] Kaju-Bubanja commented on #966
Ok, there is a simple fix for already recorded bags. Just replace the starting_time in the metadata.yaml with the starting time of the first bag, instead of the last bag. After that everything plays as it should.

[2022-06-01 19:03] Blast545 commented on #1015
Potentially related to: https://github.com/ros2/rosbag2/issues/872

[2022-06-02 05:57] #1003 closed

[2022-06-02 19:00] jacobperron commented on #773
I think having a mechanism to introspect services makes sense to support as a core feature in ROS 2, i.e. having a way to see what requests and responses being sent. Since the implementation of services are specific to the RMW, I think we should add support for service introspection at the rcl layer (or above). This means not relying on the RMW to provide topics for requests and responses (or some

[2022-06-03 18:10] vachelyang opened #1023 "How to porting or upgrade the snapshot feature to ROS2 galactic."
## Description

Knowing from the ROS2 roadmap that [Task Rosbag2 "Snapshot mode" will be released in Q3 2021 AWS in feature for ROS 2 Humble](https://docs.ros.org/en/galactic/Roadmap.html?highlight=snapshot) .
This function is very useful in practical engineering, but many development projects are not based on Humble because it is so new. I understand that this function doesn't have many dependenc

[2022-06-04 01:47] vachelyang commented on #1023
Thanks for the reply, I found that `colcon build --allow-overriding ` doesn't work for `pybind11`.
I cleaned up the header files in the system and compiled success.

[2022-06-04 01:52] #1023 closed

[2022-06-09 14:23] clalancette commented on #1015
Yes, this is almost certainly the same thing as #872.  Since that one has some suggestions for improvement, I'm going to actually copy a few new tidbits out of this one into #872, and close it in favor of that one.

[2022-06-09 14:25] clalancette commented on #872
This is still happening with Humble and Rolling sometimes:

https://ci.ros2.org/job/nightly_linux_coverage/1606/
https://ci.ros2.org/job/nightly_linux_humble_coverage/17/

I think Shane's suggestion here is probably the best one; we don't need to recompile the tests multiple times for different RMW implementations, we just need to set the RMW_IMPLEMENTATION environment variable when running.  For

[2022-06-13 16:44] QwertyBobberson opened #1025 "Extra bytes in serialized ros bag data"
## Description
I was looking at serialized bag data that came from ros2 and I noticed that there are occasionally 4 extra zeroed out bytes being added where they do not belong. This data is supposed to be in the control_msgs/JointTrajectoryControllerState format, and the extra 4 zero bytes are occasionally being inserted between the length of a double array and the actual data.

### Expected Behav

[2022-06-16 02:22] MichaelOrlov commented on #1025
@QwertyBobberson Could you please add more details how we can reproduce this issue or how to see those 4 extra zeroed bytes?

[2022-06-16 02:50] MichaelOrlov commented on #872
@clalancette From one hand you are right unit tests for rosbag2 should test rosbag2 and not RMW implementations.
However from another hand it's historically turns out that most of the tests from `rosbag2_transport` and `rosbag2_tests` packages are sort of integration tests which involves both publishing and subscriptions of the real messages on the "wires".
Very often those failing integration tes

[2022-06-17 00:07] #966 closed

[2022-06-18 05:41] MichaelOrlov commented on #862
@Blast545 @clalancette I have a good news about this annoying failing `test_play_services` test.

First of all I was able to reproduce it locally with some extra load for my machine.
I loaded my computer with `stress -m 60` command. Please note I was able to reproduce the same failure for both rmws FastRTPS and CycloneDDS. And not only for `play_next` test. Basically similar what we have seen on C

[2022-06-19 16:25] QwertyBobberson commented on #1025
@MichaelOrlov I don't know how the recording was done, it was given to me by someone else, so I don't know how to recreate the issue. I viewed the data by reading the bag file with the sqlite3 api for c++ and printing the data field (a BLOB) after storing it in a char*.

[2022-06-20 17:25] Benblob688 commented on #395
I'm having the issue mentioned in the OP where the metadata file is not being created because the device lost power (maybe?)
Can you provide an example of how to use the `reindex` functionality you describe here? when I run `ros2 bag -h` the only options are `info`, `play`, `record`.

[2022-06-20 17:30] asymingt opened #1026 "Support topic remapping in `ros2 bag convert` YAML syntax"
## Description

It would be useful to be able to specify topic remaps in the ros2 bag converter YAML syntax. So, for example if we recorded some topics `/input` and `/output` in our experimental run, when we `ros2 bag convert ...` the bag we can remap `/output -> /original/output`. In replay we might have some algorithm that consumes `/input` to produce a new `/output`, which we could then compare

[2022-06-21 18:49] ivanpauno commented on #862
Could you summarize the analysis you have done up to now?

The problem seems to be a race.
Maybe https://github.com/ros2/rclcpp/commit/679fb2ba334971d9769b44258df9095025567559 introduced a race (though that seems to be unlikely based on the code changes), but it might be a pre-existing bug that became more likely to happen after the commit.

[2022-06-21 23:58] #884 closed

[2022-06-22 01:11] MichaelOrlov commented on #395
@Benblob688 Please see `ros2 bag reindex` copmmand
[code]

[2022-06-22 06:45] MichaelOrlov commented on #1026
@asymingt Thank your for new feature request.
As usual PRs are welcome for consideration.
Form my side as a help with design and implementation I created draft https://github.com/ros2/rosbag2/pull/1028

[2022-06-22 11:47] Benblob688 opened #1029 "ros2 bag reindex fails on SQLite3 E:26"
## Description
Firstly, I experienced the issue described by #395 where the `ros2 bag record -a` done on foxy had not saved a `metadata.yaml` file because the machine's power was cut, no `Crtl-C` was done on the `ros2 bag record`

Following #395, I figured out that `ros2 bag reindex` is only available on `galactic` not `foxy`, so I followed these instructions to install `galactic` https://docs.ros

[2022-06-22 23:14] asymingt commented on #1026
@MichaelOrlov can you maybe take a look at my PR (https://github.com/ros2/rosbag2/pull/1030)  to try and help me understand how I'm using `rcl_remap_topic_name` incorrectly?

[2022-06-23 00:49] MichaelOrlov commented on #1029
@Benblob688 If you try to reindex normally recorded bag i.e. with normal finishing by removing metadata file, do you see the same error from reindexer?

[2022-06-23 01:26] MichaelOrlov commented on #862
Hi @ivanpauno Sorry my late response.
My preliminary analysis is following:
1. We have observing subset of tests failure or found them to be flaky. Those tests are sort of "integration tests" in `rosbag2_trasport` package and involve sending request and receiving responses via service calls. In particular affected  tests in [test_play_services](https://github.com/ros2/rosbag2/blob/e1403290ae2f911f

[2022-06-23 07:25] MichaelOrlov opened #1031 "Incorrect boundary check for `playback_duration` and `play_until_timestamp`"
## Description
During implementation of the https://github.com/ros2/rosbag2/pull/1007 was discovered that our `play_for_none_are_played_due_to_duration` and `play_for_less_than_the_total_duration` successfully passes only because we have improper initialization of the bag starting time in `MockSequantialReader`.
We initialize it to 0 instead of timestamp from first message.

It turns out that we a

[2022-06-24 21:21] fujitatomoya commented on #862
could be related to https://github.com/ros2/rmw_fastrtps/pull/616.

[2022-06-24 23:09] MichaelOrlov commented on #862
@fujitatomoya Unlikely, since in [test_play_services](https://github.com/ros2/rosbag2/blob/e1403290ae2f911f18c0b93fe8641f25d7291199/rosbag2_transport/test/rosbag2_transport/test_play_services.cpp) we are not sending many requests in burst.
We are sending service requests one by one and each time verifying that we are getting corresponding response from the "server" before sending the next request.

[2022-06-25 01:14] fujitatomoya commented on #862
@MichaelOrlov thanks for the comment. i wasnt sure, just came up to mind.

[2022-06-28 10:45] yunerJin opened #1035 "rosbag2 compilation stuck in zstd_vendor node does not move"
## Description
** When I compile rosbag2, the progress compilation is stuck in the zstd_vendor node **

![选区_021](https://user-images.githubusercontent.com/55445755/176160160-bb5c4e70-6214-4ed2-9c05-b0ad19f695d0.png)

How to solve this problem!

## System (please complete the following information)
 - OS: Docker(Ubuntu 20.04)
 - ROS 2 Distro: Foxy
 - Version: foxy branch

[2022-06-28 22:21] #1031 closed

[2022-07-04 13:35] AntoineHX commented on #900
Are their plans to integrate this to Foxy-future ?
I believe [https://github.com/gaia-platform/rosbag2_snapshot](https://github.com/gaia-platform/rosbag2_snapshot), now, has this feature. But it seems only compatible with Galactic or above.

[2022-07-12 16:26] KilianFt opened #1040 "ros2 bag record -a not finding topics when unknown msg type exists"
## Description
when recording a bag with
[code]
it does not record all msgs as expected.
It seems like it is subscribing to all the topics until it finds the first one with unknown type. Then, instead of continuing to search for more, it just stops to search for more, even if they have a common type.

### Expected Behavior
I would expect that it skips msgs with unknown type but still subscribes to

[2022-07-13 06:42] PeterQFR opened #1041 "Play back of split bagfile does not respect proper rates."
## Description
When playing back a bagfile that has been split with -d 30, the data is published as fast as it could be read. This means that a 200s bagfile is played back in 1-2 seconds.

### Expected Behavior
As per play of single bagfile, we expect that data is played back at the same rate as it was recorded.

### Actual Behavior
ros2 bag play <bagname> loads all split bagfiles in database and

[2022-07-13 12:33] KilianFt commented on #1040
seems to be resolved [here](https://github.com/ros2/rosbag2/pull/858).

[2022-07-13 12:33] #1040 closed

[2022-07-14 01:04] MichaelOrlov commented on #900
@AntoineHX There are no plans or scheduled effort for backporting `rosbag2_snapshot` feature to the https://github.com/ros2/rosbag2/tree/foxy-future branch.
As always PRs are welcome.

[2022-07-14 01:47] MichaelOrlov commented on #1041
@PeterQFR This issue could be related to the https://github.com/ros2/rosbag2/issues/966, please double check if it's has been fixed on latest master.

[2022-07-15 01:32] PeterQFR commented on #1041
I did an update from apt yesterday, should that fix have been included there? If so it is still an issue. Or do I need to build from source?

[2022-07-15 06:02] MichaelOrlov commented on #1041
Unfortunately will need to build from source.

[2022-07-15 15:16] ivanpauno opened #1042 "Tool to create a video from images recorded in a rosbag"
## Description

I have a script to create a video from a images recorded in a rosbag.
I was wondering what's the correct place to add it, and I thought the best place would be the `rosbag2` repo.

Should that be part of `ros2bag`?
Should that be a separate script?
Should that be contributed like an example of how to use `rosbag2_py` API?

Any of the alternatives sound good to me.
I can also add it

[2022-07-15 19:08] jacobperron commented on #1042
We should also consider the dependencies that the example brings, notably OpenCV and `cv_bridge`. It may not be desirable to have the `rosbag2` repository depend on these wrt making releases.

[2022-07-15 19:10] clalancette commented on #1042
OpenCV isn't a big deal; we already depend on it in https://github.com/ros2/demos/blob/rolling/image_tools/package.xml .  cv_bridge would be a new dependency, and we'd seriously have to think about whether we want to make that a core dependency.  I'd really prefer not to, but if it is really important we can consider it.

[2022-07-15 19:43] ivanpauno commented on #1042
Alternatively, we could create a repo in a ros github organization (`ros2` or `ros-tooling`) sound appropriate, and release that package independently.
I think we also mentioned `demos` or `examples` as a place to add the new package, but they don't seem like a great place for the tool and we would have the same dependencies issues.

I think I can get rid of both and use something like ffmpeg API

[2022-07-15 19:45] ivanpauno commented on #1042
I think it would be could to add the script as a `ros2bag` verb, e.g. `ros2 bag to_video ...`.
AFAIS, we can do that from another package (as we're using entrypoints to discover verbs), so it doesn't matter if we add the code here or in another place.

Though if we get rid of the extra dependencies, I think it makes sense to add it here.

[2022-07-15 20:46] ivanpauno commented on #862
I was able to  reproduce the issue, I don't fully understand why it happens yet.
I will post here if I have further updates.

[2022-07-17 22:58] EsipovPA opened #1043 "writer_choices: set object is not subscriptable"
## Description
The [definition of the get_registered_writers function](https://github.com/ros2/rosbag2/blob/rolling/rosbag2_py/src/rosbag2_py/_writer.cpp#L83) specifies the return type of the function to be std::unordered_set. As a result, if there is no 'sqlite3' writer choice in the set of writer_choices, one will get an exception like this:
[code]
The exception is caused by [this string](https:

[2022-07-20 00:04] amacneil commented on #52
This is now supported in [MCAP](https://mcap.dev/) and the [rosbag2_storage_mcap](https://github.com/ros-tooling/rosbag2_storage_mcap) plugin.

[2022-07-20 19:54] ivanpauno commented on #1042
I took a look to that.
The alternatives are `ffmpeg-python` or `pyav`.
The first isn't released as a debian package and can only be installed through pip, so I discarded that one.

For pyav, converting from `sensor_msgs/Image` to their frame type requires a lot of care for the different image encodings, which is code similar in complexity to cv_bridge, so I don't think it's worth following that pa

[2022-07-20 22:52] SimeonOA opened #1047 "Error During Colcon Build"
## Description
I am installing ROS2 from source following the instructions here: [from Source](https://docs.ros.org/en/rolling/Installation/Alternatives/Ubuntu-Development-Setup.html) and [maintaining source checkout](https://docs.ros.org/en/rolling/Installation/Maintaining-a-Source-Checkout.html) in a Docker container on Jetson Nano.

### Expected Behavior
I am building ROS 2 from source in a Doc

[2022-07-22 19:07] AndyZe opened #1048 "Weird filepath behavior with `rosbag2_cpp/writer`"
I'm trying to write a bag like this. It does work :+1: but the directory/file naming behavior is strange. I cribbed heavily from the [unit tests](https://github.com/ros2/rosbag2/blob/master/rosbag2_tests/test/rosbag2_tests/test_rosbag2_cpp_api.cpp#L49-L87).

[code]

This creates the folder and saves the file in `/home/andyz/Documents/test/test_0.db3`

The weird behavior is:

1) If the `/test` fold

[2022-07-22 22:51] EsipovPA commented on #1048
Sorry for intrusion, by why not use temporary files, or folders for testing? If the use case involves recording consecutive bags, maybe it will be easier to include recording start time to the path, to avoid path intersections?

Something like this, for example:
/path/to/bags/{start_timestamp}/test

[2022-07-23 00:16] AndyZe commented on #1048
Well, that is what we're doing for now.  :+1:

[2022-07-26 01:49] MichaelOrlov commented on #1048
@AndyZe This is not a bug, this is a feature :wink:

In rosbag2 by design each recording supposed to be in separate folder.
Writer accept storage options as input parameter for open method.
StorageOptions->uri is a path to the base folder which rosbag2 writer will create by its own and manage recording files inside of it.

We are generating folder name with current timestamp in python layer which

[2022-07-26 01:49] #1048 closed

[2022-07-26 17:31] MichaelOrlov commented on #1047
@SimeonOA It looks like this error relates to the using old version of the `yaml_cpp` library.
See https://stackoverflow.com/questions/25962473/does-yamlnode-have-a-mark-structure

Please double check what version do you have locally.
Also please check `yaml_cpp_vendor package if it is up to date and pulling correct version.

[2022-07-26 17:56] MichaelOrlov commented on #1043
Closing as done in #1044

[2022-07-26 17:56] #1043 closed

[2022-07-26 18:00] MichaelOrlov commented on #1025
@QwertyBobberson Extra bytes could be due to memory alignment used by compiler.
sizeof(some_struct) not always return what you would expect.
Can you double check that `sizeof` of the structure with extra bytes return value as you are expecting on the same build?

[2022-07-26 18:05] MichaelOrlov commented on #1035
@yunerJin Do you have access to the internet on machine where you are running build?
It might be intermittent problem with access to the zstd third party dependencies when trying to pull it out via internet during the build.

[2022-07-27 09:07] saippua opened #1049 "tf_static doesnt work with rosbag2 but tf does"
## Description
I'm saving a rosbag2 with `ros2 bag record -a`, playing it back and viewing it in rviz2.
I'm publishing a pose and a transformation. the transformation is static (it doesnt change)

### Expected Behavior
When I playback the rosbag2, I should be able to see the transformation in rviz2.

### Actual Behavior
* if I publish the transformation using `StaticTransformBroadcaster` (once at

[2022-07-27 18:41] MichaelOrlov commented on #1049
@saippua Can you please provide example of the rosbag2 with messages from `StaticTransformBroadcaster` which are not displaying in rviz?

[2022-07-29 18:30] SimeonOA commented on #1047
@MichaelOrlov

I checked and the yaml_cpp_vendor_package being pulled is up to date.

Moreover, this compile error with rosbag2 happens before yaml_cpp_vendor_package is built.

It is possible that another ros2 repo is using an older version of yaml_cpp but I have not seen any so far.

The ros2 repos and dependencies are imported using ` vcs import src < ros2.repos` and seem to be imported and the

[2022-08-01 15:36] ghanim-mukhtar opened #1055 "ros2 bag play under docker container with large rosbags"
## Description
So I am running ros2 bag play for rosbags that have been recorded with ros2 bag record and all this under a docker container that run ROS 2 Foxy focal with Ubuntu 20.04 focal.

### Expected Behavior
To load and play the rosbags till the end.

### Actual Behavior
If we are playing rosbags that are small enough (this is relative but like 5 GB) it works fine till the end but for large

[2022-08-02 01:04] MichaelOrlov commented on #1055
@ghanim-mukhtar Can you please try to play with command line option `--read-ahead-queue-size 100` or `--read-ahead-queue-size 10` ?

[2022-08-02 01:42] MichaelOrlov commented on #1055
@ghanim-mukhtar You also can provide detailed `SQLite` configuration via pragmas https://sqlite.org/pragma.html.
To specify pragmas will need to create storage config file. Please refer to the https://github.com/ros2/rosbag2/blob/a3b461c058a820ef4b47db480d1c84bf8921214b/rosbag2_performance/rosbag2_performance_benchmarking/config/storage/storage_resilient.yaml as example.

To be able use custom sto

[2022-08-02 02:14] MichaelOrlov commented on #1047
@SimeonOA I would suggest to try to force building `yaml-cpp` from sources via following commands:
[code]
Then try to build `rosbag2_storage` package
[code]
It should pull out correct version via internet, build and install it in local `install` folder.
It looks like by default `yaml_cpp_vendor` package taking `yaml-cpp` version which he found installed in the system . And it's likely outdated on

[2022-08-02 07:53] ghanim-mukhtar commented on #1055
@MichaelOrlov yes with the parameters `--read-ahead-queue-size` set to 100 it worked, thank you for the tip. FYI I had a warning about rate starving and ask me to increase the rate but anyway the play was done till the end.

Also I want to mention that there is no param `--storage-config-file` here is the output of `--help` with `play` command:
[code]
And here is the output of `sudo apt-cache poli

[2022-08-02 14:44] poornimajd opened #1056 "ros2 bag play uses wall time?"
Hello all,
I have recorded the bag file in foxy distribution and while playing the bag file in galactic I use the following command-
`ros2 bag play name_of_the_bag_file`.
I then try to run the nav2 stack and it runs without any errors.
But does this mean that the above command is using the Wall time of the system and hence the topics published from the bag file have the current wall time of the sy

[2022-08-02 17:28] MichaelOrlov commented on #1055
@ghanim-mukhtar `--storage-config-file` command line option available on `foxy-future` branch
https://github.com/ros2/rosbag2/blob/foxy-future/ros2bag/ros2bag/verb/play.py#L63-70

Please next time ask your questions on https://answers.ros.org/questions/ first

I am closing this issue as question is answered and no real issues in rosbag2.

[2022-08-02 17:28] #1055 closed

[2022-08-03 22:36] vinnnyr commented on #1056
how are you running the nav2 stack? depending on how you are running it, `use_sim_time` might be set to `true` for all the launch, hence you would be getting expected behavior.

[2022-08-04 09:59] poornimajd commented on #1056
Hello, Thank you for the reply.
I have set use_sim_time=False.
Actually, when I play the bag file, the time stamps of the topics are the same as the day when it was recorded.
The nav2 stack takes these topics as input and the timestamp of the published pose (amcl_pose) is also the same as the timestamp of the bag file, Hence both the nav2stack and the bag file are using the same timestamp, but it

[2022-08-04 20:19] emersonknapp commented on #657
Closed with `foxy-future` branch

[2022-08-04 20:19] #657 closed

[2022-08-04 21:50] emersonknapp commented on #972
Added concrete and comprehensive requirements for this ticket at the bottom of the original description. I think this should address all cases. If those points are completed, it opens up the non-directory ("bare") bag functionality in a way that users have been asking for basically forever.

@MichaelOrlov as current maintainer, let me know if you have any input on that design choice

[2022-08-08 00:14] MichaelOrlov opened #1061 "Make binary release for rosbag2 from rolling 0.17.0 tag"
I've tried to make release with bloom, however got error message about insufficient rights

[code]
It seems that I need to be in [ros2-gbp/rosbag2](https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/rosbag2.tf) team to have permissions to push in those git repo.

I have created https://github.com/ros2-gbp/ros2-gbp-github-org/issues/90 with request to join `rosbag2` release team.

[2022-08-08 00:20] MichaelOrlov commented on #1061
It's uncertain how long it will take to get a right permissions for me.
@emersonknapp Could you please make bloom release for rosbag2 rolling from tag 0.17.0 meanwhile?
It seems that you have necessary permissions for [ros2-gbp](https://github.com/ros2-gbp/ros2-gbp-github-org/blob/latest/rosbag2.tf) project.

[2022-08-08 21:46] MichaelOrlov commented on #972
@emersonknapp Thanks for pinging me in this issue.
The design proposals looks reasonable for me.

May be need to add consideration how to handle cases when:
1. Explicitly specified bag folder **without** file extension. For instance `ros2 bag record --output my_data /chatter` or `ros2 bag info my_data`. In former case could be multiple files inside folder due to the bag split feature.
2.  Explicit

[2022-08-09 10:07] dbruggner opened #1062 "No recording happening with a lot of topics"
## Description
When recording a lot of topics rosbag2 doesn't subscribe to all topics and data is not recorded.

### Expected Behavior
It is expected that rosbag2 will subscribe to all topics (even if these are a lot) and record all the data.

### Actual Behavior
This behavior can be reproduced with the following launch file. For example rosbag2 records fine with 10 `image_publishers` but not with

[2022-08-10 18:00] emersonknapp commented on #1061
Yes, I can do this today

[2022-08-11 15:52] fnobis opened #1067 "ROS2 play mcap bag does not work any longer"
## Bug report

- Operating System:
20.04
- Version or commit hash:
ROS2 galactic

#### Steps to reproduce issue
cannot play ros2 mcap bags with the command `ros2 bag play BAGNAME -s mcap`

#### Expected behavior
Play bag.

#### Actual behavior
Throws an error.
`/usr/bin/python3: symbol lookup error: /opt/ros/galactic/lib/x86_64-linux-gnu/libmcap.so: undefined symbol: LZ4F_createDecompressionContex

[2022-08-11 16:53] MichaelOrlov commented on #1061
Thanks @emersonknapp, I appreciate your help.
I am currently on my vacation and can’t do bloom release by myself.

[2022-08-11 21:29] emersonknapp commented on #1061
https://github.com/ros/rosdistro/pull/34115

[2022-08-12 13:04] fnobis commented on #1067
I just found this issue here: https://github.com/ros-tooling/rosbag2_storage_mcap/issues/45 which describes my problem and is currently being fixed. Right now the problem seems to affect the newest  ros2 galactic updates.

[2022-08-12 13:04] #1067 closed

[2022-08-16 08:16] MichaelOrlov commented on #1061
@emersonknapp I see that you have increased version of packages in [rolling/distribution.yaml](https://github.com/ros/rosdistro/pull/34115/files#diff-a79d50d14101a47dfc4ea7b0dd7b9446f34b544807d8f0c48cc6a8f07fc3b36aR4189) file up to the `0.17.0-2`.

I am a bit confused what is the meaning for `-2` at the end of release digits `0.17.0-2` ?
I would expect to see the same digits as in tag `0.17.0`.

[2022-08-16 09:02] MichaelOrlov commented on #1062
@dbruggner What is the size of the publishing image?
And what DDS vendor (`FastRTPS`, `CycloneDDS` or `RTI Connext DDS`) did you use?

[2022-08-16 16:02] fnobis opened #1070 "Read ros2 bag with MCAP format"
I try to read a rosbag following this example:

https://github.com/ros2/rosbag2/blob/master/rosbag2_py/test/test_sequential_reader.py

In the file `from common import get_rosbag_options` is executed. This is needed in order to load a ros2 bag.
However, I do not see how I get the dependencies common to execute the package. I cannot find this on pypi.

Also if there is any further guide on how to us

[2022-08-17 09:36] dbruggner commented on #1062
The size of the publishing image can be anything. I tested also with 1 pixel sized images.
The used DDS is Cyclone.

[2022-08-17 12:48] dbruggner commented on #1062
It seems that `get_topic_names_and_types` https://github.com/ros2/rosbag2/blob/rolling/rosbag2_transport/src/rosbag2_transport/recorder.cpp#L262 returns `0` most of the times when a lot of topics are available. It happens also when I want to record only one topic.

[2022-08-17 19:56] MichaelOrlov commented on #1062
@dbruggner We have came across with the same issue some time ago in Apex.OS.
After comprehensive analysis we found out that root cause of the problem not in the `rosbag2` itself rather in CycloneDDS.

`get_topic_names_and_types()` will only return max 100 topics, because we are using graph info inside where we read the samples (and not take), the CycloneDDS read API sets the max samples to 100 int

[2022-08-17 19:58] MichaelOrlov commented on #1062
Closing this issue since this is not a bug in rosbag2 but rather "feature"/bug on CycloneDDS side.

[2022-08-17 19:58] #1062 closed

[2022-08-18 12:34] #1070 closed

[2022-08-19 02:19] franciszhi opened #1071 "Obsolete "src/rosbag2_cpp/compression_options.cpp""
Since #257, "src/rosbag2_cpp/compression_options.cpp" is removed from "rosbag2_cpp/CMakeLists.txt" (https://github.com/ros2/rosbag2/commit/323f7e9d0799103fb162e4bfec8551470fafd4c5#diff-7b93246f3411ebdf2503d0e0e1fe34363a12fe0c0a4a3d4b24760f7939c78ac6L44) but the file itself is not removed.

[2022-08-19 20:54] emersonknapp commented on #1061
You will notice that all bloom releases have a "release inc" suffix on them, it is always `0.17.0-1` and so on. I don't know the details of how the release increment works, but it's an internal detail, and the released version is 0.17.0. The extra increment might have come from a failed bloom command on the first try when i ran it, then the second time increased that number. It doesn't affect the

[2022-08-19 20:55] emersonknapp commented on #1061
You can see the history of commits auto-created by bloom at https://github.com/ros2-gbp/rosbag2-release/commits/master

[2022-08-19 21:10] clalancette commented on #1061
Right, the version number `0.17.0` always corresponds to the source release version (basically the tag in this git repository).

The extra `-1` is called the "debinc" number, and is essentially a count of how many times the package metadata was updated during the release (the original source remains the same, though the metadata can patch the source).

In our particular case, bloom is in charge of

[2022-08-19 21:57] emersonknapp opened #1074 "Allow write/record to bare file(s) instead of directory with `metadata.yaml`"
## Description

Allow user to record to a bare file (possibly multiple, with splitting). e.g. `ros2 bag record -o my_bag.mcap`

* Append `_N` suffixes to bag base name, if splitting
* Omit `metadata.yaml` creation in this case

## Related Issues

Related to #972

## Implementation Notes / Suggestions

Mostly work in `SequentialWriter`

[2022-08-19 21:58] emersonknapp commented on #972
I am removing the "Writer" portion of this issue, so that it is more self-contained.

[2022-08-19 22:19] emersonknapp commented on #1074
Would this need a special option? Right now `my_bag.mcap` would produce a directory with that name and put storage files inside it. We could change that behavior, perhaps, to look for an extension, and if there is a plugin that can handle that extension, then use it for the file. If no plugin found, then create directory with that name? Throw an error? Talking through that makes me think that prob

[2022-08-20 00:11] emersonknapp commented on #819
This is related to work on https://github.com/ros2/rosbag2/issues/972 and https://github.com/ros2/rosbag2/issues/1074

[2022-08-20 00:16] emersonknapp commented on #558
This issue is overloaded. I will suggest that we split it in 2:
* Expose pause/resume recording to rosbag2_py
* Provide a callback interface for each recorded message

[2022-08-20 00:21] emersonknapp opened #1075 "Message listener for recording"
## Description

Allow user to register a callback with the Recorder that will be called on every new recorded message. This need comes out of `rqt_bag` workflows. See #558 for full discussion.

## Related Issues

Split from #558

## Completion Criteria

* Add a user-provided callback to Recorder that can be called on every new message recorded
* Expose this API to Python client as well

## Impleme

[2022-08-20 00:22] emersonknapp commented on #558
I reworded this issue and split the callback into #1075

[2022-08-20 00:26] emersonknapp commented on #275
Closing this issue as nonspecific. It's more of a discussion rather than a specific enhancement request. Since it was first opened there has been a lot of work on the compression infrastructure, so the discussion is a bit out of date.

If there is a specific feature we should implement, we can open a new issue or reopen this one with concrete completion criteria.

[2022-08-20 00:26] #275 closed

[2022-08-24 18:41] ros-discourse commented on #782
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-bag-data-in-plotjuggler/27072/1

[2022-08-26 16:22] emersonknapp opened #1076 "rosbag2 default configuration"
## Description

Would be nice to be able to change rosbag2 arguments for a whole installation/environment, especially for the storage implementation.

This could use an environment variable, or a `/etc` file. TBD

[2022-08-26 22:05] #972 closed

[2022-08-30 08:44] scch1092 commented on #473
is there also the possibility to use own defined messages?

[2022-08-31 18:22] MichaelOrlov commented on #485
@Stapelzeiger At some point we changed `PRAGMA journal_mode=MEMORY` by default instead of `PRAGMA journal_mode=WAL`.
Therefore database not in `WAL` mode by default any more.
Therein this issue shouldn't be reproducible any more.
However I don't have macOS to reproduce or test it.

I am closing this issue as stale and fixed via workaround. Feel free to reopen it if issue still reproduces.

[2022-08-31 18:22] #485 closed

[2022-09-01 02:13] MichaelOrlov commented on #1074
@emersonknapp I like your proposal:

I am opposed to the adding special argument for it.
We've already have to much parameters in CLI interface.
Trying to guess by detected extension is smart and user friendly behavior. Falling back to creating folder if plugin match not found looks consistent and expected from user point of view IMO.

[2022-09-01 02:29] MichaelOrlov commented on #1075
@emersonknapp I am afraid that callback from each new message to the python API and then to the rqt_bag will hit performance of the entire recording process.
I think it would be better to gather needed statistics inside recorder and provide getters API  to it. Perhaps we can use atomic variables without mutexes.
The idea is that `rqt_bag` will call statistic's getter API periodically instead of su

[2022-09-02 00:58] emersonknapp commented on #1075
Well, historically, `rqt_bag` has used a much more inefficient method - when a message comes in, it triggers a separate thread to ask the actual written bagfile for messages in a timestamp range, and uses those results to populate the timeline. I'm not saying this is good, but a callback would be a strict improvement on running a read query on the bag that is being written, for every new message.

[2022-09-05 13:11] FranzAlbers opened #1079 "ros2 bag record and play does occasionally not properly closing when pressing Ctrl+C"
## Description
When closing a recording, occasionally, the ros2 bag is apparently not closed correctly, which makes a reindex of the bag necessary.
This happens for both the sqlite3 and the mcap plugins. Usually, this is no big issue and takes only a few seconds, but reindexing these mcap files seems to be not possible for now (which is another issue).
For our setup (recording point clouds, images

[2022-09-06 02:06] lhsl2014 opened #1080 "MultiLibraryClassLoader failed"
## Description
Using the Galactic and rosbag2 to parse deb3 bag.  The rosbag2_cpp::readers::SequentialReader works well with one deb3 bag, but sometimes failed when I trying to open two or more deb3 bags at the same time. The rosbag2_storage shows message "Unable to load instance of read write interface: MultiLibararyClassLoader: Could ont create class of type rosbag2_storage_plugins::SqliteStorag

[2022-09-07 07:51] MichaelOrlov commented on #1079
@FranzAlbers It seems that I know what is causing this issue and I have a fix for it.
To double check can you please try to press `Enter` key when you see that rosbag2 reorder hangout after `Ctrl+C`?

Sorry for inconvenience. I am expecting that pressing `Enter`  should work as workaround until we will fix this issue with a proper way.

[2022-09-07 08:03] FranzAlbers commented on #1079
@MichaelOrlov, thanks for your help and for the hint!

Pressing enter indeed works as a workaround.

[2022-09-10 02:33] #1079 closed

[2022-09-10 02:57] MichaelOrlov commented on #1056
@poornimajd Short answer is NO.
Rosbag2 player uses timestamp from recorded messages.
Currently we don't have option to use wall time for playing messages.

The reason for that is that message itself coming to the rosbag2 recorder in serialized form and when we publish it in player we publishing it as is directly in raw serialized form without transforming it to the ROS message.
Therein no place w

[2022-09-10 02:57] #1056 closed

[2022-09-10 14:51] juanmed commented on #872
Hi,

I am experiencing this issue while building `ros2-humble` in Manjaron ARM on a [pinebook pro laptop](https://www.pine64.org/pinebook-pro/). The specific build command is `pamac build ros2-humble`. While most of the packages build successfully (after some tweaking),  `rosbag2_transport` and dependent packages always fail due to the RAM usage, disregard of what I try.

My system is:

[code]

I

[2022-09-11 16:59] clalancette commented on #872
So what you are running into is almost certainly different that this issue.  This issue is specifically about building with coverage enabled.

That said, on resource-constrained platforms, you can usually get around RAM problems by building with something like the following:

[code]

Which will cause all packages to be built one-by-one, while also only building a single file at a time.  As you can

[2022-09-12 15:10] wkalt opened #1086 "Store ROS_DISTRO as metadata.yaml and in the storage file"
## Description
I recently discovered that ros2 db3 bag files recorded by different versions of ROS can have different database schemas. For example, bags recorded on eloquent do not have the offered_qos_profiles column in the topics table, which caused our (Foxglove's) db3 to mcap converter to fail on eloquent bags.

It would be helpful if the ros2 bag recorder wrote its ROS version to the db3 fil

[2022-09-12 15:53] MichaelOrlov commented on #1086
@wkalt Could you please provide some rosbag2 db3 bag file which is failing converter to process it?
It will significantly help for issue analysis and possible fixes.

[2022-09-12 16:13] wkalt commented on #1086
@MichaelOrlov thanks, here's one @amacneil recorded on eloquent:
[eloquent-twist.db3.zip](https://github.com/ros2/rosbag2/files/9549856/eloquent-twist.db3.zip)

[2022-09-12 20:13] rshanor opened #1087 "Ability to split logs based on signal during record."
## Description

I am setting up a robot that does pick and place tasks. I would like one rosbag associated with each pick and place action. I would like to be able to signal to the rosbag process to close the current bag and open the new one. I could probably work around this by killing the `ros2 bag record` process and starting a new one.

## Related Issues

None that I found.

## Implementation

[2022-09-13 03:01] MichaelOrlov commented on #1086
@wkalt In `rosbag2_storage` we already storing metadata version and taking it in to account when parsing metadata from `yaml` file
https://github.com/ros2/rosbag2/blob/e179c79b0d9acee0be58c676ae8b124fd42a3bc6/rosbag2_storage/include/rosbag2_storage/yaml.hpp#L246-L260
In particular `offered_qos_profiles` was introduced since metadata.version = 4
https://github.com/ros2/rosbag2/blob/e179c79b0d9acee0

[2022-09-13 03:34] MichaelOrlov commented on #1086
However we are not handling medata.version properly when trying to read out metadata from database directly.

[2022-09-13 04:18] amacneil commented on #1086
@MichaelOrlov to clarify, the specific request here is that this metadata (the ROS 2 release) is stored in the db3 file when using the sqlite plugin.

We have users who open a sqlite file directly (i.e. no `metadata.yml` file available to us) and having the metadata fully contained within the db3 file makes it easier to reason about. More generally I think it would be best if there is no informati

[2022-09-13 04:35] amacneil commented on #1074
After thinking about this issue some more, I think directly supporting `-o foo.mcap` and auto-detecting the plugin is a bit of a weird goal. It conflicts with other CLI flags such as auto-splitting, and just passing `-s <plugin>` seems easier in most cases to change the format.

Therefore, I would advocate for closing this ticket as it is written today. However, I do think that we should consider

[2022-09-13 06:01] amacneil commented on #819
We took the ideas from this thread, https://github.com/ros2/rosbag2/issues/855, and several others and incorporated them into the design of [MCAP](https://mcap.dev/), a highly efficient, self-contained recording format for ROS 2 and more.

A [ROS 2 MCAP storage plugin](https://github.com/ros-tooling/rosbag2_storage_mcap) is available for Foxy, Galactic, Humble and Rolling, and using it is as simpl

[2022-09-13 06:07] amacneil commented on #782
We took the ideas from this thread, https://github.com/ros2/rosbag2/issues/819, https://github.com/ros2/rosbag2/issues/855, and several others and incorporated them into the design of [MCAP](https://mcap.dev/), a highly efficient, self-contained recording format for ROS 2 and more.

A [ROS 2 MCAP storage plugin](https://github.com/ros-tooling/rosbag2_storage_mcap) is available for Foxy, Galactic,

[2022-09-13 06:10] jhurliman commented on #782
I’ll close the issue since MCAP is stable and a preferred alternative now.

[2022-09-13 07:01] MichaelOrlov commented on #1074
@amacneil Could you please clarify your statement about "It conflicts with other CLI flags such as auto-splitting"?
I don't quite get it how it conflicts?

[2022-09-13 07:21] MichaelOrlov commented on #1086
@amacneil I agree it would be nice if all metadata information from `metadata.yaml` file would be duplicated in db3 file directly.
But currently it is not.
We have an issue that bag file recorded on Eloquent is not usable in Rolling without `metadata.yaml` because our sqlite storage plugin will throw exception with error from database due to trying to read non existent `offered_qos_profiles` filed

[2022-09-13 12:57] danthony06 commented on #819
Sorry if this is described somewhere, but I couldn't find it in the
documentation or blog posts about this. Does MCAP rely on having the
message definitions locally for embedding them in the file? In other words,
if I attach my computer to a ROS2 system and I don't have the message
definitions available on my computer, can I still record using MCAP and end
up with a file with those definitions emb

[2022-09-13 17:04] QwertyBobberson commented on #1025
Sorry, I got reassigned to a different project and forgot about this. I no longer work there at all, so I'm going to close this issue.

To answer your question though, I did check this when I first encountered the issue, the sizeof returned the values I expected.

[2022-09-13 17:04] #1025 closed

[2022-09-13 17:41] emersonknapp commented on #819
I am going to close this as implemented - we now allow for self-contained ROS 2 individual bag files.

There may be further related features, like the discussion about message types above, but that is beyond the scope of this ticket and should be tracked independently.

[2022-09-13 17:41] #819 closed

[2022-09-14 07:04] MichaelOrlov opened #1089 "ros2 bag `info` and `play` are not able to open db3 bag files recorded on eloquent"
## Description
- Follow up from #1086.
- `ros2 bag info`  and `ros2 bag play` failing to open db3 bag recorded on `eloquent` distro.

### Expected Behavior
`ros2 bag info`  and `ros2 bag play` shall be able to correctly work with bags recorded on eloquent distro.

### Actual Behavior
[code]

## To Reproduce
1. Download [eloquent-twist.db3.zip](https://github.com/ros2/rosbag2/files/9563548/eloquent

[2022-09-14 13:20] mad0x60 commented on #1029
I have the same problem and I don't see the same error when I try to run ros2 bag reindex on a normally saved bag without a metadata.

[2022-09-14 19:49] #1071 closed

[2022-09-16 01:36] james-rms opened #1092 "Add a benchmark fixture to compare raw write throughput for different plugins"
## Description

We need a way to assess write throughput of the MCAP storage plugin against the default SQLite plugin at a lower level, without bringing in the SequentialWriter or other pub/sub infrastructure.

### Desirable metrics
* How many messages can we write per second?
* How many bytes can we write per second?
* How much memory is used for a given write call?
  * How many heap allocations?

[2022-09-19 12:01] tonynajjar commented on #823
I think it's still not in galactic. Was rosbag2_transport released since then? I don't see a tag.

![image](https://user-images.githubusercontent.com/14879660/191012730-87adad42-9e05-4273-a166-3a135a90a71f.png)

[2022-09-20 00:23] #1089 closed

[2022-09-20 13:16] tonynajjar opened #1095 "Exclude/include topics by type"
## Description

** Clear and concise description of the feature that you'd like to exist, from a user's perspective. Don't get into implementation details, describe what you want it to do. Put any consideration of alternate features that might solve your problem as well. **

We can already include/exclude topics by name/regex, it would be nice to include/exclude topics by type. For my particular c

[2022-09-20 16:09] cristidotlumen commented on #99
For those who are still looking at this: the `--clock` option is not available in the foxy-future branch, but I got it working by starting from foxy-future, then use git cherry-pick with these commits (and fixing the conflicts): [PR for #689](https://github.com/ros2/rosbag2/commit/9ed91023f099436201cc9e4697291900063a6d63) and [PR for #695](https://github.com/ros2/rosbag2/commit/07c05da93761290a2b9

[2022-09-21 02:16] vinnnyr commented on #1087
Could we piggy back off of `SnapshotMode` and simply split off the bag every time the snapshot service is called in this special mode?

[2022-09-23 06:20] MichaelOrlov commented on #1087
@rshanor @vinnnyr The proper design for this feature would be to create new service call handler `SplitBagfile.srv` in rosbag2 recorder class and promote `SequentialWriter::split_bagfile()` method to the `BaseWriterInterface` as virtual public method to be able to call it from recorder upon receiving service call for split.

[2022-09-24 09:49] chaoflow commented on #782
@jhurliman I see how mcap solves #819, however I agree with @emersonknapp https://github.com/ros2/rosbag2/issues/782#issuecomment-1081232184 that storage of message definitions should not be specific to one format and especially should be realized for the default format. To that end I suggest to reopen this issue.

[2022-09-25 00:38] bijoua29 opened #1099 "Snapshot should write to a different file every time it is triggered"
## Description
When you trigger multiple snapshots through the service call, each snapshot data is written to the same file. This is not very useful for multiple snapshots.

The typical use-case for the snapshot feature is to save a snapshot when the user see something "interesting". This might happen multiple times. Usually triggering a snapshot is not always a one-time event.

## Related Issues

[2022-09-25 22:07] amacneil commented on #1086
That's funny, we had the [exact same issue](https://github.com/foxglove/mcap/issues/567) in the `mcap convert` CLI, which is what led to creating this ticket. We fixed it by [testing for that column](https://github.com/foxglove/mcap/pull/570/files#diff-5e76f49c080f6b423518d60b68464a576628620e025507f5b645c8164532893eR177) before reading it.

I also think it would be fine to say that ROS 2 Iron+ doe

[2022-09-25 22:14] amacneil commented on #1074
@MichaelOrlov what I meant is that if I run the `ros2 bag record -a -d 60 -o my_bag.mcap` I only gave you one output file and it's not clear how you would split it.

I guess you could ignore my requested output file name, and name the files `my_bag001.mcap`, `my_bag002.mcap`, etc. That's not a bad option, but it seems weird that `-o my_bag.mcap` does not guarantee a file `my_bag.mcap` will exist a

[2022-09-26 10:52] berndpfrommer opened #1100 "request of new release of rosbag2 package"
There is an important commit in the "galactic" branch that has not made it into the Ubuntu packages for almost a year now.
I brought this up on the ROS discourse:

https://discourse.ros.org/t/preparing-for-galactic-sync-2022-08-05/26737/3

and was advised to open an issue.

Could you please release a new version of rosbag2 to be sync'ed? It would really simplify my setup.
Thanks!

[2022-09-26 10:57] tonynajjar commented on #1100
The coincidence is crazy, I was just checking if there was any update regarding my [request](https://github.com/ros2/rosbag2/issues/823#issuecomment-1250926414) to sync and I find your fresh issue :)

[2022-09-26 22:18] #841 closed

[2022-09-27 17:21] #1100 closed

[2022-09-28 02:24] lhsl2014 commented on #1080
Can someone help with this?

[2022-09-28 06:22] MichaelOrlov commented on #1086
Now rolling and humble support reading Eloquent bags.

[2022-09-28 06:37] MichaelOrlov commented on #1074
@amacneil Currently we are adding sequence number to the filename starting from `_0`.
For the case when filename specified explicitly for instance `ros2 bag record -a -d 60 -o my_bag.mcap` we can start from exact name `my_bag.mcap` and continue with `my_bag_1.mcap`, `my_bag_2.mcap` when split happened.
It looks consistent and pretty much predictable.

[2022-09-28 06:45] MichaelOrlov commented on #1074
i.e. when specified just folder name `ros2 bag record -a -d 60 -o my_bag -s mcap` the file naming inside `my_bag` folder will be
`my_bag_0.mcap`, `my_bag_1.mcap`, `my_bag_2.mcap`.
Anyway we store filenames in metadata and rely on it during playback. It is not going to affect playback in this case.
For `reindex` we can workaround this situation and try to search for `my_bag.mcap` if `my_bag_0.mcap`

[2022-09-28 08:02] MichaelOrlov commented on #1080
@lhsl2014 Could you please  provide minimum valuable reproducer or steps how to reproduce this issue?

[2022-09-29 09:30] lhsl2014 commented on #1080
Thank you for your reply. In my case, I use the std::thread to deserialize the Camera and Lidar deb3 bag at the same time. The code is listed as follow.
##code
void camera_thread()
{
rosbag2_cpp::readers::SequentialReader reader_cam;

rosbag2_storage::StorageOptions storage_options{};
storage_options.uri  = "./";
storage_options.storage_id="sqlite3";

rosbag2_cpp::ConverterOptions converter_option

[2022-09-29 09:33] lhsl2014 commented on #1080
@MichaelOrlov Thank you for your reply. In my case, I use the std::thread to deserialize the Camera and Lidar deb3 bag at the same time. The code is listed as follow.
## code
void camera_thread()
{
rosbag2_cpp::readers::SequentialReader reader_cam;

rosbag2_storage::StorageOptions storage_options{};
storage_options.uri = "./";
storage_options.storage_id="sqlite3";

rosbag2_cpp::ConverterOptions co

[2022-09-29 09:35] lhsl2014 commented on #1080
@MichaelOrlov Thank you for your reply. In my case, I use the std::thread to deserialize the Camera and Lidar deb3 bag at the same time. The code is listed as follow.

## code
void camera_thread()
{
rosbag2_cpp::readers::SequentialReader reader_cam;

rosbag2_storage::StorageOptions storage_options{};
storage_options.uri = "./";
storage_options.storage_id="sqlite3";

rosbag2_cpp::ConverterOptions c

[2022-09-29 20:47] MichaelOrlov commented on #1080
@lhsl2014  If I understand correctly you trying to create two instances of the `ros2bag2_cpp::readers::SequentialReader` in two separate thread which are opening different bags ans at some time you are getting exception with message `"Unable to load instance of read write interface: MultiLibararyClassLoader: Could ont create class of type rosbag2_storage_plugins::SqliteStorage"`.

From the first g

[2022-10-01 01:15] amacneil commented on #1086
Regarding the original title of this ticket, I think it would still be good to record the ROS distro in the db3 file. E.g. a `metadata` table like this:

| key TEXT | value TEXT |
| -- | -- |
| ros_distro | foxy |

Probably some other keys could be added, like what DDS middleware was in use?

It will help when we need to do things like guess which version of the message definitions to use.

[2022-10-01 01:58] MichaelOrlov commented on #1086
@amacneil As regards

Can you please clarify how dds middleware version and and ROS version could help in determining message definition version?

We have a thoughts to store schema version, metadata version, metadata, and message definition directly to the `.db3` files during recording . It should cover all cases. Please correct me if I am wrong.

[2022-10-01 03:20] amacneil commented on #1086
Yes, I think both would be good (storing the schema, and also storing the ros distro).

[2022-10-01 19:23] MichaelOrlov opened #1108 "Store DB schema versioning in .db3 files"
## Description
Some times we need to change DB schema. For instance add new field or even a new table connected by some index with another table.
Currently we are not storing schema version in .db3 file and it's very difficult to support backward compatibility in case of changing DB schema.
We need to store DB schema version in .db3 file directly to be able properly read out bag files with differe

[2022-10-02 07:15] MichaelOrlov opened #1109 "Store metadata in db3 files directly"
## Description
We have a proposal to make rosbag2 .db3 files self-contained. To achieve this goal we need to store metadata in .db3 files directly.

## Related Issues
Relates:
- https://github.com/ros2/rosbag2/issues/1074
- https://github.com/ros2/rosbag2/issues/1108
- https://github.com/ros2/rosbag2/issues/782

## Completion Criteria
All `metadata` fields stored in .db3 files directly.

## Implem

[2022-10-02 14:17] DasRoteSkelett opened #1110 "zstd_vendor does not find system zstd and will always build and install"
## Description
zstd_vendor does not find system zstd and will always pull and install from upstream. This is unwanted behavior.

### Expected Behavior
System installed zstd should get found and build/install should therefore be skipped

### Actual Behavior
build zstd_vendor with zstd installed. zstd_vendor does indeed not find the installed zstd and will pull, build and install from upstream.
I co

[2022-10-03 13:20] bjajoh commented on #1049
I have exactly the same issue, static tf transforms are not being able to be visualized with rviz.

[2022-10-03 20:28] MichaelOrlov commented on #1049
@saippua @bjajoh We need reliable  reproducer for this issue.
Could you please provide recorded bags with `StaticTransformBroadcaster` and with `TransformBroadcaster` to be able to reproduce and debug issue or please provide minimum valuable reproducer for `item 1`.

[2022-10-03 22:27] emersonknapp commented on #1110
Thanks for the detailed bug report

[2022-10-04 21:20] emersonknapp commented on #84
I'm going to close this as out-of-date. A new issue could be reopened if something specific is needed to be implemented. As discovered in this discussion, there is no specific barrier to subclassing a storage plugin to create new derived types, however the plugin to be extended will need to provide suitable virtual interfaces.

I'm currently in the process of splitting out the `sqlite3` plugin int

[2022-10-04 21:20] #84 closed

[2022-10-04 21:22] emersonknapp commented on #164
I'm going to close this issue as out-of-date given the availability now of the `rclcpp::Serialization` classes. Please reopen if there is a specific and remaining issue that isn't addressed by this.

[2022-10-04 21:22] #164 closed

[2022-10-04 21:27] emersonknapp opened #1112 "Remove `rosbag2_tests` direct dependence on `sqlite3`"
## Description

This is a code-decoupling issue. Currently `rosbag2_tests` (many of which tests are disabled on CI because they are very flaky), directly depends on the `sqlite3` storage implementation, which creates a hard coupling to this choice of storage plugin. The tests should be changed to use the generic storage APIs so that they can test any storage implementation.

[2022-10-05 00:23] rshanor commented on #1087
Working to implement @MichaelOrlov suggestion.

[2022-10-05 01:22] MichaelOrlov commented on #1112
It would be ideally if they will be able to test two storage implementations (sqlite3 and mcap) on CI.

[2022-10-06 00:10] emersonknapp opened #1116 "Track "default storage implementation" in a single place, to be used by other code"
## Description

Right now there are a variety of places in the rosbag2 core that encode the explicit string `"sqlite3"`. This is a tight coupling between the core and the default storage implementation.

We should define in a single place what the default storage is, and use that wherever a default is required. Right now, this means finding all places where sqlite3 is mentioned explicitly, outside

[2022-10-06 00:46] #1110 closed

[2022-10-10 02:19] lhsl2014 commented on #1080
Thank you for your reply. We solved the problem according to your advice.

[2022-10-10 02:19] #1080 closed

[2022-10-10 02:40] james-rms opened #1119 "`ros2 bag convert` with compression can drop messages"
## Description
`ros2 bag convert` with message-level compression will silently write only some messages to the output bag.

### Expected Behavior
`ros2 bag convert` will convert bags at slower-than-real-time if neccessary, blocking on a full queue (rather than dropping messages).

Even if this can't be done, I would expect to see a warning if i'm dropping messages while converting.

### Actual Beh

[2022-10-10 03:37] ChunelFeng opened #1120 "use rosbag write topic info, frame rate not stable"
## Description
write topic (10Hz) info with rosbag, but the rate maybe not always be 100ms.
it seemed  an about 2~3 second timespan sometimes happened.

### Expected Behavior
no write timespan.

### Actual Behavior
it seemed to happened, occasionally

## Additional context
can you give me some help about how to locate and fix this question.

[2022-10-10 05:07] amacneil commented on #1119
Possible dupe: https://github.com/ros2/rosbag2/issues/998

[2022-10-10 19:25] MichaelOrlov commented on #1119
@james-rms @amacneil I would say this is duplicate for https://github.com/ros2/rosbag2/pull/1058 and we have already have workaround for this.

The workaround is to set `compression_queue_size = 0`  in writer settings in yaml config file.

[2022-10-10 19:32] MichaelOrlov commented on #1120
@ChunelFeng Need more info about setup and reproduction steps.
Do you use bag split during recording?

[2022-10-11 05:39] amacneil commented on #1119
It is good that there is a workaround, but I don't think there should be any scenario in which `ros2 bag convert` can drop messages, regardless of what options the user passes. If it does, that should be an error because the bag failed to convert.

[2022-10-11 07:55] danthony06 commented on #819
Understood that there's nothing to do on your end. I'm a little frustrated
losing this capability in general, but that's not a shortcoming of MCAP.

On Tue, Sep 13, 2022, 9:50 AM Adrian Macneil ***@***.***>
wrote:

[2022-10-12 03:49] amacneil commented on #819
@danthony06 FYI there is some [unrelated work](https://github.com/ros-infrastructure/rep/pull/358) being done by open robotics which will hopefully give us runtime message definitions for the next major version of ROS 2 (Iron).

[2022-10-12 20:58] #1087 closed

[2022-10-12 20:59] #1119 closed

[2022-10-13 00:13] MichaelOrlov opened #1123 "`ros2 bag play` exiting with code 2 by SIGINT or CTRL+C"
## Description
`ros2 bag play` exiting with code 2 by `SIGINT` or `CTRL+C`

### Expected Behavior
`ros2 bag play` shall exiting with code 0 by `SIGINT` or `CTRL+C`

### Actual Behavior
`ros2 bag play` exiting with code 2 by `SIGINT` or `CTRL+C`

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. Go to 'ros2_rolling' cloned folder
2. `source ./install/setup.bash`
3. Run tmux
4. In tmux pan

[2022-10-14 00:09] emersonknapp commented on #819
Closing this issue was not meant to imply #782 is also closed, it is still open - we can maybe move any discussion on that particular feature to that issue, so as not to lose any extra context!

My understanding of the scope of this issues is "rosbag2 can use standalone files", which is now a capability. Best not to pack too much into an individual issue

[2022-10-14 10:06] geoeo opened #1125 "Using the default QoS yaml throws an error when playing the bag"
## Description
Using the default QoS yaml on this site throws an error

### Expected Behavior
Using the default QoS Yaml given in the Readme.md as a offered_qos_profiles argument does not result in a crash when playing the bag

### Actual Behavior
Currently when using the default QoS Yaml I get a crash when playing my recorded bag `yaml-cpp: error at line 1, column 1: bad conversion`

## To Reprod

[2022-10-15 07:04] MichaelOrlov commented on #513
@emersonknapp Do you remember what was the root cause or error messages for flaky tests?

[2022-10-15 08:37] MichaelOrlov commented on #1125
@geoeo Could you please attach your QoS yaml which is giving error on playback?

[2022-10-15 11:41] geoeo commented on #1125
This is the vanilla file I tried which is published on the readme page

[code]
  I also tried chaning `/topic_name:` to `/tf_static:`

  Its set via the `offered_qos_profiles` attribute when creating `TopicMetadata` (via python).

[2022-10-17 08:24] imouta opened #1127 "Reading and deserializing cdr messages"
Hello,

I'm been trying to parse a rosbag containg geometry_msgs/Vector3Stamped messages with C++. I managed to read the topics and their messages but the deserialized data from cdr_deserializer->deserialize seems wrong. The results are something like 2.68208e-310 instead of reasonable latitude/longitude/altitude values (the data represents gps values).

What could be the problem?

[2022-10-17 22:25] MichaelOrlov commented on #1127
Hi @imouta.
Please refer to the
https://github.com/ros2/rosbag2/blob/5b8b658b1f70a9f6184e4f6f31a42d50267f0b47/rosbag2_transport/test/rosbag2_transport/record_integration_fixture.hpp#L71-L86
and
https://github.com/ros2/rosbag2/blob/5b8b658b1f70a9f6184e4f6f31a42d50267f0b47/rosbag2_test_common/include/rosbag2_test_common/memory_management.hpp#L47-L66
for reference implementation of how to de-serializ

[2022-10-17 22:37] MichaelOrlov commented on #1127
Or here is another example how to read and de-serialize messages from recorded bag file.
https://github.com/ros2/rosbag2/blob/5b8b658b1f70a9f6184e4f6f31a42d50267f0b47/rosbag2_tests/test/rosbag2_tests/test_rosbag2_cpp_api.cpp#L94-L107

[2022-10-18 10:54] ghanim-mukhtar opened #1129 "Problem playing bags files stored online"
## Description
I have bag files that are stored in GCloud buckets and I mount the whole folder into my PC via `gcsfuse` ([see here](https://github.com/GoogleCloudPlatform/gcsfuse/blob/master/docs/installing.md)) but then when I try to play them I have a lot of problems and the node hangs a lot the topics take for ever to display and eventually the whole thing freezes and the mounter bucket is lost

[2022-10-18 12:36] imouta commented on #1127
Thanks @MichaelOrlov for the reply. I actually was defining new type supports for geometry_msgs/Vector3Stamped messages instead of using them directly.

[2022-10-18 18:50] rshanor opened #1130 "Pause and resume recording via service call."
Recorder already has a pause and resume feature: https://github.com/ros2/rosbag2/pull/905/
Feature would look a lot like the SplitBagfile service: https://github.com/ros2/rosbag2/pull/1115

Figured I would add a file `rosbag2_interfaces/srv/EnableRecorder.srv` that looks something like

[code]

@MichaelOrlov thoughts? My robot sits around running but not doing anything useful 90% of the time.

[2022-10-18 20:28] MichaelOrlov commented on #1130
@rshanor Agree that it would be nice to have such feature.
Please reuse interface and subset of APIs from rosbag2 player instead of creating new `rosbag2_interfaces/srv/EnableRecorder.srv`
https://github.com/ros2/rosbag2/blob/5b8b658b1f70a9f6184e4f6f31a42d50267f0b47/rosbag2_transport/src/rosbag2_transport/player.cpp#L798-L829

Also to accomplish this feature it would be nice to add `bool start_pau

[2022-10-18 23:03] rshanor commented on #1130
Ack, I will work on getting this PRed soon. Thanks!

[2022-10-19 02:24] MichaelOrlov commented on #1130
This feature will be very useful for distributed recording :wink:

[2022-10-19 07:02] ChunelFeng commented on #1120
No，we no use bag spilt.

Just one bag, sometimes it happens

[2022-10-19 21:46] MichaelOrlov commented on #1120
@ChunelFeng 2-3 seconds time difference for messages  with 10 Hz is to much.
No one yet observed such issue with rosbag2 recording in regular scenario.

All similar cases which was reported was caused ether by problem on publisher side or QoS settings as best effort for topic and heavy load on the system.

[2022-10-19 22:00] MichaelOrlov commented on #1129
@ghanim-mukhtar A lot of things got changed since `Foxy`.
Can you pleas try to reproduce this issue with `Rolling`?

Another question:
Do you see message like `"Message queue starved. Messages will be delayed. Consider increasing the --read-ahead-queue-size option."` when playing your bag?

[2022-10-20 11:16] #1127 closed

[2022-10-21 03:22] james-rms commented on #1116
@emersonknapp I might be missing something important, but the only places I can see `sqlite3` being hardcoded in this repo are:

* at the top of the `record` verb, here: https://github.com/ros2/rosbag2/blob/19158f6debe25640507881f9a2c01cdb1fe4741b/ros2bag/ros2bag/verb/record.py#L38
* All over the help strings / description of `ros2bag` verbs
* at the top of `writer.cpp`, here: https://github.com/r

[2022-10-21 03:35] james-rms opened #1134 "Make `ros2bag` CLI help text and descriptions plugin-agnostic"
## Description
Right now the help text for several arguments refers directly to `sqlite3`-specific features, for example:

1. This description of storage preset profiles: https://github.com/ros2/rosbag2/blob/rolling/ros2bag/ros2bag/verb/record.py#L151
2. This description of storage options: https://github.com/ros2/rosbag2/blob/rolling/ros2bag/ros2bag/verb/record.py#L170
3. This set of choices for

[2022-10-21 04:42] james-rms commented on #1129
@ghanim-mukhtar some possible workarounds you can try:

1. convert your bags to MCAP using the [mcap CLI tool](https://mcap.dev/getting-started/ros-2.html#using-the-mcap-cli-tool) and the use the [MCAP storage plugin](https://github.com/ros-tooling/rosbag2_storage_mcap) to play back your bags. MCAP is designed to be efficient to read over a network connection, and should perform a little better th

[2022-10-21 14:17] Amazingmum commented on #974
why not update for dashing

[2022-10-23 04:15] emersonknapp commented on #513
Unfortunately, I don't remember any details. I think in general, subscribers would not receive the number of expected messages. This would happen sometimes from slow discovery, or shutdown edge cases. But I am not sure if that description covers all cases that were observed.

[2022-10-24 13:55] Alqio commented on #773
Is there any updates on this? What is the current recommended way for recording & playing back service calls? Change them to topics?

[2022-10-25 02:02] ihasdapie commented on #773
@Alqio  Current progress is being tracked on https://github.com/ros2/ros2/issues/1285 & more information can be found https://github.com/ros-infrastructure/rep/pull/360. I was hoping to iterate on it more (but good progress has been made without me) over the last few weeks but have been busier than expected...but in any case it _should_ be included in next year's Iron release :)

[2022-10-25 08:37] imouta opened #1137 "Writing a rosbag"
Hello,

I'm new to ROS2 and I've been trying to use it to read messages from rosbag2 play and write them into a new rosbag in C++.
I started with the code below :
[https://docs.ros.org/en/foxy/Tutorials/Advanced/Recording-A-Bag-From-Your-Own-Node-CPP.html](url)
However, it seems that topics are not created and serialized messages are not read.

What could be the problem?

I appreciate any help.

[2022-10-25 12:44] imouta opened #1138 "Recording a rosbag"
## Description

I want to read messages from a bag and record them into a new rosbag. I found this tutorial about recording data from your own node:
[https://docs.ros.org/en/foxy/Tutorials/Advanced/Recording-A-Bag-From-Your-Own-Node-CPP.html](url)

However, I always get this error while running:
`terminate called after throwing an instance of std::out_of_range`
`  What():  _Map_base::at`

## Relat

[2022-10-25 17:31] MichaelOrlov commented on #1137
Hi @imouta. I would recommend to use `ros2 bag convert` CLI option instead.
Please refer to the https://github.com/ros2/rosbag2#converting-bags for details.

[2022-10-25 17:46] MichaelOrlov commented on #1138
- Closing as it doesn't relates to the rosbag2 issue.
 @imouta Please ask questions in https://answers.ros.org/
Rule of thumb to use issue tracker for real issues in rosbag2.

Please feel free to reopen this issue if you think it's really a problem in `rosbag2`.

[2022-10-25 17:46] #1138 closed

[2022-10-25 17:46] MichaelOrlov commented on #1137
- Closing as it doesn't relates to the rosbag2 issue.
 @imouta Please ask questions in https://answers.ros.org/
Rule of thumb to use issue tracker for real issues in rosbag2.

Please feel free to reopen this issue if you think it's really a problem in `rosbag2`.

[2022-10-25 17:46] #1137 closed

[2022-10-25 21:06] tonynajjar opened #1139 ""Hidden topics are not recorded" Spam"
## Description
Spam of "Hidden topics are not recorded" when recording bag with `ros2 bag record -a`

### Expected Behavior
Warning printed only once

### Actual Behavior
[code]

(The spam keeps going until killed)

## To Reproduce
** Steps to reproduce the behavior, e.g.
1. ros2 bag record -a

## System (please complete the following information)
 - OS: Ubuntu Jammy
 - ROS 2 Distro: Humble
 - Ver

[2022-10-26 08:19] ghanim-mukhtar commented on #1129
@MichaelOrlov so I tried with Rolling and I had even worse performance, the rosbag playing just hangs without anything showing in RVIZ.
And to answer your question, yes I head the warning `"Message queue starved. Messages will be delayed. Consider increasing the --read-ahead-queue-size option."` when I was reading with `--read-ahead-queue-size 100` under foxy. If I don't use this option it will ta

[2022-10-26 23:51] james-rms commented on #1129
You can use `ros2 bag convert` with the MCAP storage plugin (in rolling) to do the conversion also - this works on entire folders full of `.db3` files https://mcap.dev/getting-started/ros-2.html#using-ros2-bag-convert

Did you try the desktop app? https://foxglove.dev/download

[2022-10-27 01:09] MichaelOrlov commented on #1129
@ghanim-mukhtar I would recommend to experiment with `--read-ahead-queue-size` it looks like in your recorded data set configuration 100 is to low and 1000 which is by default is to much.
It depends from the message size.
Consider it as caching 1000 messages from IMU which up to hundred bytes or 1000 messages from camera which is up to several megabytes.
In case of camera you probably will not hav

[2022-10-29 19:03] MichaelOrlov commented on #1120
@ChunelFeng Please provide minimum valuable reproducer or exact steps how to reproduce this issue.
Otherwise we will have to close this issue as not reproducible.

[2022-10-29 19:26] MichaelOrlov opened #1140 "Race condition in rosbag2 recording tests with `wait_for_db()`"
## Description
Some rosbag2 tests with `wait_for_db()` inside which are testing recording tend to be flaky.
Tests occasionally fails with error message: `Error when processing SQL statement. SQLite error (5): database is locked`.
Here is the example of the output from failing test on CI.
[code]

### Expected Behavior
Test should not fail due to the races for the resources between testing code and

[2022-10-30 02:43] #1120 closed

[2022-10-31 23:01] amacneil commented on #1086
cc @jhurliman @defunctzombie @james-rms

[2022-10-31 23:05] james-rms opened #1143 "Add ROS_DISTRO to `.db3` bags"
## Description

This gives tooling some ability to determine the context of a bag without the original ros workspace it was recorded in.

## Related Issues

## Completion Criteria

* Complete when `.db3` bags contain some table with a row containing the ROS distro the bag was recorded with.
* One idea would be to put the distro in the `metadata.yaml` file, but we should be pushing towards bag file

[2022-10-31 23:24] emersonknapp commented on #1143
Metadata is (mostly) redundantly stored within storage files - so we should store it _both_ in metadata and the individual file

[2022-11-01 00:03] emersonknapp commented on #1143
Closing as duplicate of #1086

[2022-11-01 00:03] #1143 closed

[2022-11-01 00:14] james-rms opened #1144 "inform storage plugin about message-level compression"
## Description

Right now the message-level compression mode being used is not passed to the storage plugin. This means that without the `metadata.yaml` file, we have no way of knowing if a `db3` or `mcap`'s messages are CDR encoded, or CDR encoded *and* compressed. This information should be stored inside the bag somehow. Specific plugins can choose their own way of storing this and dealing with

[2022-11-01 09:09] ricardo-manriquez opened #1145 "Add the ability to change the node name of the recording node using the recorder API"
Hello everyone, I'm new to this so I wanted to start asking a question

## Description

I'm coding a system that will need to run multiple ROS bag recordings at the same time, and one limitation is that every node launched has the same name, I wanted to fix this problem, I wrote a small patch but it doesn't keep the original API which is a no-no.

My recording code is as follows

[code]
This code

[2022-11-01 23:26] emersonknapp commented on #1134
Might want to  apply this to README as well, providing a sub-README in the storage plugin with its details - removing anything sqlite specific from main README

[2022-11-02 01:09] james-rms commented on #1116
Plan:

1. Expose a `get_default_storage_id()` function from `rosbag2_storage`, bind with pybind11
2. Use this to set the default for `ros2 bag record -s`, and the default for `Writer::open(std::string uri)`
3. for the tests, do a pass and split them between "sqlite3 specific" and "storage plugin agnostic". Leave the sqlite3-specific tests alone,  and parametrize the storage plugin agnostic tests a

[2022-11-02 04:56] MichaelOrlov commented on #1143
@james-rms We do have open issue
-  #1108 and
-  #1109
Which should satisfy all possible needs. It doesn't make sense to store `ROS_DISTRO` in addition to the DB schema versioning.
At least I am not envision any cases when it would be useful.
Please note that DB schema could be changed somewhere in between ROS2 distros and releases.

[2022-11-02 08:57] MichaelOrlov commented on #1144
As far as I recall we have discussed per message compression and per message encryption during original `mcap` design discussions. And as far as I remember we agreed to have string field which will describe serialization format, encryption and compression and we agreed that each layer will be spitted by some predefined delimiter and as far as I remember suggestions was to use colon `:` or double c

[2022-11-02 09:01] MichaelOrlov commented on #1144
For completeness we have already passing `TopicMetada` data structure as parameter for the `BaseWriteInterface::create_topic(const TopicMetadata & topic)` API.

[2022-11-02 09:21] #1123 closed

[2022-11-02 15:03] #1140 closed

[2022-11-03 02:27] james-rms commented on #1144
I think compression type and message serialisation format are separate concepts that any consumer will need to handle separately. How they are encoded in the TopicMetadata is an implementation detail.

Therefore, the choice comes down to one of:

1. putting `serialization format` and `compression type` together in the same field with a `::` delimiter
2. adding a new field to TopicMetadata for the

[2022-11-04 15:21] amacneil commented on #1144
I would like to make a case that compression options are entirely a storage plugin concern, not a global setting.

Different storage plugins will support different compression options. For example:
- Sqlite storage plugin supports file level or message level compression
- Mcap storage plugin supports chunk compression (zstd with configurable speed, or lz4)
- Other plugins may not support compressi

[2022-11-04 16:33] amacneil commented on #1144
JPEG compression is not a responsibility of the recording process. That would require modifying the content of the messages, making them incompatible with their own schema.

The logic you describe (compressing a subset of messages with JPEG) belongs at the application layer using the existing ROS concepts (nodes that subscribe and transform messages).

[2022-11-05 21:06] #1130 closed

[2022-11-06 22:25] james-rms commented on #1144
Copying discussion to issue - below is from @MichaelOrlov .

The reasoning for that is the multiple abstraction layers and the fact that BagMetadata object initializes after calling open(..) method of the storage plugin. And uses some data from storage object for initialization.
For details: - here is the place https://github.com/ros2/rosbag2/blob/fcafa279d31c7b61a244503f597b8d0e36dc94a5/rosbag2_s

[2022-11-06 22:49] james-rms commented on #1144
Let me also register the standing goals agreed on at the working group here on this issue:
* rosbag2 will updated API to pass the metadata information down to the storage plugin indicating if message has extra layer of modifications such as compression or encryption so the storage plugin can record it as necessary
* mcap storage plugin will make a best effort to determine if it can use the [ros2 p

[2022-11-06 23:58] james-rms commented on #1144
The proposal of dealing with this by adding an `update_metadata` method seems hacky to me.

I think we should change tactic and not try to pass all of BagMetadata to the storage plugin.

At a minimum the storage plugin needs only these data:
* Compression format
* Compression mode

My alternate proposal is:

1. come up with a new struct `RecorderMetadata` which is defined as "metadata about the re

[2022-11-08 00:08] amacneil commented on #1086
@MichaelOrlov I noticed your comment in https://github.com/ros2/rosbag2/issues/1143#issuecomment-1299570359:

Storing ROS_DISTRO specifically would be useful for Foxglove, because we try to open db3 files using a bundled copy of the standard ROS schemas, but those schemas change from release to release (e.g. `Marker` message is different from Galactic to Humble). Storing ROS_DISTRO would allow us

[2022-11-08 02:46] MichaelOrlov commented on #1086
@amacneil Thanks a lot for the clarification.
I am open to consider to store `ROS_DISTRO` if it will be really helpful.
Let's discuss, consider some details.
-  I had a plan to add support to store full schema in db3 files the similar way as it currently done in mcap. Also we need to address #1108 first. I anticipate that I will not have capacity to add full support to store full schema in db3 fil

[2022-11-08 03:44] defunctzombie commented on #1086
How is the ABI/API compatibility broken? If this information is not passed to the storage plugin the plugin could look at the environment `ROS_DISTRO` itself and write this to a table. What is considered ABI/API for the .db3 files? Is adding a new table considered breaking?

[2022-11-08 05:28] MichaelOrlov commented on #1086
@defunctzombie Good point we might be able to add ROS_DISTRO as extra field when doing changes in the scope of the #1108.
We need to make backward comparability any way and it make sense to combine these changes.

[2022-11-08 06:36] amacneil commented on #1086
Agreed, I think we can add ROS_DISTRO to Humble and Galactic without breaking backwards compatibility, it is it strictly an addition to the db3 file, and shouldn't require changing any public interfaces?

I understand your point about this not being a perfect heuristic for the different Marker message. Storing the full schemas in db3 file would be a better solution, but I assume you would not be a

[2022-11-08 07:28] maghauke opened #1152 "sensor_msgs/PointCloud2 messages are lost when using ros2 bag play"
## Description
I have a ros2 bag with lidar messages (sensor_msgs/PointCloud2), they are published at 10 Hz with the size of approximately 3 MB each. To validate that all the data is being played I use: ros2 topic hz /lidar/point. The output from this command shows that some messages are lost, and I dont understand why.

### Expected Behavior
The expected behaviour is that all messages are receive

[2022-11-08 07:57] MichaelOrlov commented on #1144
@james-rms I've tried to spend some more time trying to consider you proposal with transmitting `compression_mode` in some form as you mentioned to be as part of newly created `RecorderMetadata` or even better naming as `RecorderInfo` or `WriterOptions`  data structure to the `storage::open(..)` method.
I am sorry, but I can't come to the any descent solution with current rosbag2 design.

The prob

[2022-11-08 08:04] MichaelOrlov commented on #1086
@amacneil I think you are right that `we would not be able to backport db3 schemas to Humble because it would require breaking ABI compatibility`.
Will try to add ROS_DISTRO as extra field when doing changes in the scope of the https://github.com/ros2/rosbag2/issues/1108.

[2022-11-08 16:03] amacneil commented on #1086
@clalancette good point, only identifying Humble db3 files would be sufficient. We can assume the pre-Humble Marker message unless we explicitly detect `ROS_DISTRO=Humble` (technically it will not work for "early Humble" bags, but it is better than nothing).

[2022-11-08 19:54] rshanor opened #1154 "Generic debug topic / message"
## Description

Please let me know if a similar feature already exists. I am imagining some generic message type.

[code]

The recorder could subscribe to a topic like `/rosbag2_recorder/generic_message_topic`

Then I could write code like.
[code]

In the log, this would look like normal messages.
[code]

It would make it super easy for me to populate my log with a bunch of debug data without havi

[2022-11-08 21:29] MichaelOrlov commented on #1152
@maghauke Likely the problem in the QoS settings.  Pleas try to verify this problem with overridden QoS settings for reliable and transient local settings.
Also make sure to have enough queue size on receiver side.
`ros2 topic hz` is not the best solution for verification.

[2022-11-08 22:39] james-rms commented on #1076
@emersonknapp we should close this as not planned.

[2022-11-09 02:03] #1076 closed

[2022-11-09 14:03] karthiknit1 commented on #1019
Any update on this issue? This seems to be most recurring problem on win64 for large ros2 bags.

[2022-11-09 16:19] rshanor commented on #1139
I was also annoyed by this, on my fork but changing that print to `RCUTILS_LOG_WARN_THROTTLE_NAMED(RCUTILS_STEADY_TIME, 10000, ROSBAG2_TRANSPORT_PACKAGE_NAME, "Hidden topics are not recorded. Enable them with --include-hidden-topics");`. Happy to push this upstream if others are OK with the change...

[2022-11-09 18:29] mwcondino opened #1155 "'Problem reserving CacheChange in reader' error message when using recorder"
## Description
I have observed some instances of this error message while using `ros2 bag record` -
[code]

It looks like the issue may be in the underlying transport layer, but the error message here is extremely opaque, and so far this only occurs when using the `record` verb. It looks like the issue may manifest when a bag recorder is stopped and started several times with other nodes running.

[2022-11-09 21:23] MichaelOrlov commented on #1139
@rshanor Yes, your solution looks legitimate.
It would be highly appreciated if you will create PR for it.

[2022-11-09 21:46] MichaelOrlov commented on #1019
What behavior if specify folder with .db3 file and `metadata.yaml` file? for `ros2 bag play` command?
For the same recorded .db3 file.
Also does this issue still reproduces for ROS2 `Rolling` distro?

[2022-11-09 23:23] #1116 closed

[2022-11-09 23:29] ros-discourse commented on #1108
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2022-10-13/28213/1

[2022-11-09 23:29] ros-discourse commented on #1109
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2022-10-13/28213/1

[2022-11-09 23:29] ros-discourse commented on #1119
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2022-10-13/28213/1

[2022-11-09 23:51] emersonknapp commented on #974
ROS 2 Dashing has reached end-of-life as of May 21, 2021 and will not be receiving any new features or bugfixes

[2022-11-10 07:29] SparkCK opened #1157 "this command is not available：$ ros2 bag record -a -d 9000"
I want to record the bag for a fixed length of time.But the following commands always report errors.
'''
$ ros2 bag record -a -d 9000
'''
The error is：
'''
usage: ros2 [-h] Call `ros2 <command> -h` for more detailed usage. ...
ros2: error: unrecognized arguments: -d
'''
![图](https://user-images.githubusercontent.com/41099844/201027136-df54cb18-80f1-40ec-89c1-ab9c9e344992.png)

[2022-11-10 13:09] PeterQFR commented on #1029
This is a problem with SQLite3 probably because the write to bag terminates halfway through a transaction (disclaimer I don't really know much about sql databases)

However this issue can occur in any SQLite3  database and there are solutions to it.

I've linked to one that was able to reformat and recover the [sqlite database ](https://support.storj.io/hc/en-us/articles/360029309111-How-to-fix-a-

[2022-11-10 13:35] PeterQFR commented on #1029
TLDR;

Assuming your bag file is called

Install the application `sqlite3` through

[code]
Check for issues in db3 file in bag.

[code]
Now I have seen the above command return errors or ok with no change to the reindexing success for rosbag2.
Make a backup of the database:

     cp bag/bag.db3 bag/bag.db.bak
     sqlite3 bag/bag.db3

At the prompt dump the raw contents of the db.

    .mode inser

[2022-11-10 20:11] MichaelOrlov commented on #1157
@SparkCK I've just verified it on `Rolling` ROS2 distro and it works for me
[code]
What ROS2 distro or branch are you using?

[2022-11-10 20:49] MichaelOrlov commented on #1029
@PeterQFR Thank you so much for the recipe!
Wouldn't you mind to post your answer on the https://answers.ros.org like a short howto as you posted it here?

As regards to the original issue I see from conversation that `reindex` command failed for corrupted database which had been abnormally interrupted during writing and it was used default storage preset profile which is optimized for write speed

[2022-11-10 20:49] #1029 closed

[2022-11-11 01:21] SparkCK commented on #1157
My system is Ubuntu 20.04. ROS2 version is foxy。It still does not work.Thanks

[2022-11-11 03:48] MichaelOrlov commented on #1155
@mwcondino The errors coming from Fast-DDS transport layer.
Indeed It looks like https://github.com/eProsima/Fast-DDS/pull/2942/files has not been released with Humble in your ROS2 distro version.
I've just tried to review relevant code in rosbag2 recorder and haven't found anything suspicious or something which could lead to this issue.

In case when you see those error messages - does rosbag2 re

[2022-11-11 04:08] MichaelOrlov commented on #1157
@SparkCK Now it's became clear. It doesn't work because this feature was recently developed and is not present in `foxy` distro.

[2022-11-11 10:50] doisyg opened #1158 "Autodetect MCAP in rosbag2_cpp open"
## Description

Ongoing discussion with @clalancette here: https://github.com/ros2/cartographer_ros/pull/67
Should rosbag automatically detects the bag format in the open method here ?
https://github.com/ros2/rosbag2/blob/c611a8010a0aaaba8bff47c42846aae2374fe81f/rosbag2_cpp/include/rosbag2_cpp/reader.hpp#L64-L78

And if yes, how ? Doing it based the file extension ?

Related:
- Same for python api

[2022-11-11 18:31] amacneil opened #1159 "Support `--repeat-latched` in ROS 2"
## Description
ROS 1 Noetic added the `--repeat-latched` feature (https://github.com/ros/ros_comm/pull/1850) to repeat latched topics at the start of each bag split.

As far as I can tell, rosbag2 does not have this feature. Is there any reason we should not add it?

[2022-11-12 01:54] MichaelOrlov commented on #1159
@amacneil Yes we have the reason to not do this for the sake to have deterministic replay.
This is duplicate of the https://github.com/ros2/rosbag2/pull/1051  please see my detailed explanation in https://github.com/ros2/rosbag2/pull/1051#pullrequestreview-1059614100

[2022-11-13 10:36] doisyg commented on #902
Also interested in having composable and IPC player capability. What is the current status for Humble ? Any plans ?

[2022-11-13 11:49] berndpfrommer commented on #902
Is introducing PR #892 an option? I don't think it would interfere with implementing a better solution later down the road and it would keep [my stopgap solution ](https://github.com/berndpfrommer/rosbag2_composable_recorder) alive.

[2022-11-13 22:33] amacneil commented on #1159
I'll admit I am not super familiar with how tf_static and `transient local` works in ROS 2 (I am more familiar with latched topics in ROS 1). https://github.com/ros2/ros2/issues/464 seems to have some details.

We have users who would like to open one file from a split bag and have the transforms work correctly. Your comment in that issue seems to be based on the fact that you don't have a way in

[2022-11-14 01:31] SparkCK commented on #1157
Thanks very much .

[2022-11-14 01:31] #1157 closed

[2022-11-15 04:54] MichaelOrlov commented on #1159
If users want something it doesn't means that we should jump in and implement what they want without considering other cases and drawbacks.

My main point not in the case that rosbag2 doesn't support playing a split bag rather that we need to have determinism in replay. Basically we shall not inject or copy messages which we didn't receive on the wires in any cases.

We have a lot another cases wh

[2022-11-15 05:20] MichaelOrlov commented on #1139
Agree make sense to use log once primitive.
[code]

[2022-11-15 05:52] MichaelOrlov commented on #1158
@doisyg @clalancette MCAP or SQLite3 bags  auto detection has already been done in https://github.com/ros2/rosbag2/pull/1072
It's already works for `ros2 bag play`

As regards to the aforementioned `void open(const std::string & uri);` CPP and Python API - will need to make one line fix
in
https://github.com/ros2/rosbag2/blob/c611a8010a0aaaba8bff47c42846aae2374fe81f/rosbag2_cpp/src/rosbag2_cpp/rea

[2022-11-18 01:48] james-rms commented on #1144
Actions from sync:

- make `ros2 bag record —-compression-mode message` print some warning indicating that a future version will only support this compression mode with sqlite3, please add `-s sqlite3`
- Update the MCAP storage plugin to print a message and exit when it detects an incompatible compression mode
    - When?
        - Roman: now
- need to make community aware of this in advance. Do s

[2022-11-18 02:03] emersonknapp commented on #1158
I just ran into this myself and have a solution in https://github.com/ros2/rosbag2/pull/1167

[2022-11-18 08:36] Stefan-working commented on #900
Are there any plans to implement this enhancement to the rosbag2?
If I am reading the doc and source of the  https://github.com/gaia-platform/rosbag2_snapshot correctly this still misses the feature to also further record Y seconds into the future and rosbag2_snapshot seems to have no license.
I really would appreciate it if this feature would be part of the rosbag2 core, as we really like to use

[2022-11-18 13:16] CourchesneA commented on #900
@Stefan-working  In the end we ended up using the GAIA's implementation (which I believe is not unmaintained). We were able to implement "record Y seconds into the future" manually with a simple sleep(Y).

[2022-11-18 16:09] DLu commented on #794
Note: This is fixed in `foxy-future`, `galactic`, `humble` and `rolling` since https://github.com/ros2/rosbag2/pull/612

I opened #1161 to start to address the issue in `foxy`, and I have a fix for it, but I'm not sure what the intent is w.r.t. `foxy-future`. Should I still make the fix for this in a non-api breaking way?

[2022-11-19 07:07] MichaelOrlov commented on #900
@Stefan-working As regards to the license.
I found this line
https://github.com/gaia-platform/rosbag2_snapshot/blob/333ae57b9f606c3e69da7b968d0e8ba44ccc5374/rosbag2_snapshot/package.xml#L8

[2022-11-19 22:40] labib-c opened #1169 "Play back bag file by node"
## Description

When recording messages sent to a topic and playing it back, it will replay every message sent to the topic (as expected). It would be useful to be able to either record messages or replay messages by **node** for more granular testing.

## Completion Criteria

* add ability to record node
OR
* add ability to play bagfile by node

If this already exists, please close this issue

[2022-11-20 04:43] MichaelOrlov commented on #1169
Hi @labib-c, does this example https://github.com/ros2/rosbag2/blob/rolling/rosbag2_examples/rosbag2_examples_cpp/src/simple_bag_recorder.cpp satisfy your needs?

[2022-11-21 06:52] Stefan-working commented on #900
Thank you @CourchesneA and @MichaelOrlov with this license we may be able to use it and adapt it with the sleep.

[2022-11-21 13:14] tonynajjar opened #1170 "not all topics are discovered at startup"
## Description
** clear and concise description of the bug is **

When using `ros2 bag record --all --no-discovery`, not all the topics that are available (the ones present with ros2 topic list) are subscribed to. I could not see a clear difference between the topics subscribed to and the ones left out.
I found a workaround that could help you debug the issue, see it here: https://github.com/pixel

[2022-11-21 18:26] jpsamper2009 opened #1172 "zstd_vendor breaks CMake when cross-compiling for QNX"
## Description

- When cross-compiling `rosbag2` for x86_64 QNX, `zstd_vendor` will download and compile `libzstd.so`, then copy it to the install directory. `libzstd.so` is a dependency of the CMake executable on the host, so on the next `cmake` invocation, the runtime linker finds the QNX version of `libzstd.so`, causing `cmake` to fail
- The root cause is that `colcon` invokes `LD_LIBRARY_PATH=

[2022-11-21 22:19] #1158 closed

[2022-11-22 00:43] ros-discourse commented on #1108
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2022-11-17/28457/1

[2022-11-22 00:43] ros-discourse commented on #1109
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-tsc-meeting-minutes-2022-11-17/28457/1

[2022-11-22 21:18] MichaelOrlov commented on #1170
@tonynajjar

This is looks like a WAD (works as design) for systems with DDS middleware.
To mitigate this issue in tests we are using `wait_for_matched()` for pub/sub manager for reference here https://github.com/ros2/rosbag2/blob/1e4efa42ae5e945f795c4ea275f6622eb4618d86/rosbag2_test_common/include/rosbag2_test_common/subscription_manager.hpp#L86-L128

In case of general rosbag2 recording with `--

[2022-11-22 22:36] #1108 closed

[2022-11-22 23:57] tonynajjar commented on #1170
Thank you for your answer. The reason why I want to avoid enabling discovery is because it uses a lot of CPU! (this can be yet another issue).
If this is WAD, then this feature request could work around the issue: implement a discovery timeout argument (turn off auto-discovery after elapsed duration)

[2022-11-23 03:37] ricardo-manriquez commented on #1145
A respectful follow up to this ticket because I still don't know the proper way to solve this, I will rewrite my questions

I want to be able to choose the ROS topic name when launching a recording, the Python API does not have any option to do that but the C++ API does, in which way do rosbag developers implement method overloading? Do you use a second function with another name?

Is there a docu

[2022-11-23 09:08] imouta opened #1178 "How can I use rosbag2_py in ROS Foxy?"
## Description
I want to record some topics with python. Usually, the package rosbag2_py is used for that but it is only available on foxy-future branch. How can I use it in Ros Foxy?
I tried cloning the repository rosbag2 and rebuilding it but I got errors related to the foxy version of the repository that I previously installed.

## System (please complete the following information)
 - OS: Ubunt

[2022-11-23 17:35] jpsamper2009 commented on #1172
Applying the following patch and renaming `zstd_vendor-extras.cmake` to `zstd_vendor-extras.cmake.in` seems to fix the issue (but I haven't tested if it breaks other builds).

[code]

[2022-11-23 18:31] ros-discourse commented on #1144
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/psa-default-ros-2-bag-storage-format-is-changing-to-mcap-in-iron/28489/1

[2022-11-23 20:29] emersonknapp commented on #1172
If you propose this change as a pull request, then it would automatically run Ubuntu build and we would run linux-aarch64 and windows build as part of the review process.

"prs welcome" :)

[2022-11-23 20:33] emersonknapp commented on #1178
`rosbag2_py` does not exist in the Foxy binary releases. The only way to use it is to check out the `foxy-future` branch of `rosbag2` and build that as part of your workspace.

I'll close this as "not enough info" for now. If `foxy-future` branch has broken (is not building successfully on top of the latest Foxy installs), then lets open a targeted bug report for that problem with error text inclu

[2022-11-23 20:33] #1178 closed

[2022-11-23 21:07] emersonknapp commented on #1145
In Python you can do optional arguments with default values - that would make it a non-breaking change to the API. `pybind11` allows you to specify default arguments in the function bindings.

I'd rather see your patch in a pull request than in an issue - easier to review, and the changes even get built and tested automatically :)

Note: this is either a duplicate or extension of https://github.co

[2022-11-23 21:08] emersonknapp commented on #1145
https://docs.ros.org/en/foxy/The-ROS2-Project/Contributing/Developer-Guide.html

[2022-11-23 21:29] jpsamper2009 commented on #1172
@emersonknapp For sure. I just wanted to make sure it is the correct approach before going through the effort 😅

[2022-11-24 03:38] ricardo-manriquez commented on #1145
Thank you very much for your comments, this is my first time around so I thought it was more polite to ask for advice rather than just go ahead, I will submit the PR today, I didn't see the previous issue so yeah it might be a good mechanism to implement that behavior.

[2022-11-25 12:56] tsadarsh opened #1181 "Unable to `ros2 bag record` in ROS2 Humble"
## System (please complete the following information)
 - OS: Pop!_OS 22.04 LTS
 - ROS 2 Distro: Humble

## Description
I followed [guide](https://docs.ros.org/en/humble/Tutorials/Beginner-CLI-Tools/Recording-And-Playing-Back-Data/Recording-And-Playing-Back-Data.html) to install ros2 bag:
[code]
I am running a launch file of `realsense2_camera` which publishes the following topics:
[code]
I want to

[2022-11-25 17:53] mjeronimo commented on #558
@emersonknapp  I'm going through my issue backlog and was taking at look at this issue. It seems since pause/resume has been implemented and #105 has been created, this issue can be closed. Do you agree?

[2022-11-27 06:05] YXL76 opened #1182 "Improve cache interface"
## Description

Current `consume_callback_` needs a `vector` input.

https://github.com/ros2/rosbag2/blob/86efa58dca1945bb24055a5a109929c186f38903/rosbag2_cpp/include/rosbag2_cpp/cache/cache_consumer.hpp#L65-L66

`MessageCacheCircularBuffer` will copy data from `deque` to `vector`, which is redundant.

https://github.com/ros2/rosbag2/blob/86efa58dca1945bb24055a5a109929c186f38903/rosbag2_cpp/src/ro

[2022-11-27 11:27] laurafbec opened #1183 "Unable to set QoS profile from node in ROS2 Humble"
## Description
I'm trying to set QoS policies to the /map topic from a node by using:
`topic_info_map = rosbag2_py._storage.TopicMetadata(name='map', type='nav_msgs/msg/OccupancyGrid', serialization_format='cdr', offered_qos_profiles="- history: keep_all\n  depth: 5\n  reliability: reliable\n  durability: transient_local\n  deadline:\n    sec: 0\n    nsec: 0\n  lifespan:\n    sec: 0\n    nsec: 0\n

[2022-11-27 21:44] amacneil opened #1185 "Add integration test for mcap storage plugin"
The latest release of mcap storage plugin is currently broken on one or more distributions (https://github.com/ros-tooling/rosbag2_storage_mcap/issues/82).

We need to add an integration test to CI & the buildfarm that will prevent such issues in the future.

[2022-11-27 21:45] amacneil commented on #1185
Blocked on https://github.com/ros2/rosbag2/pull/1163

[2022-11-28 07:09] aditya2592 commented on #884
Hi, this is a very useful feature! Thanks for adding it! I was wondering if an event should also be published when the final bag file has been closed. Currently this is not notified since publish happens only a split is created. I wanted to raise a PR for this, does it make sense to publish to existing `events/write_split` or should this be published on a new topic?

[2022-11-28 07:52] MichaelOrlov commented on #884
Hi, @aditya2592 I have just was thinking about the same today.
From one hand I would expect to get notification on the same topic for the reasons that in most cases receiver of such events is some sort of post processing node which could compress bag which has been finished and start sending it to the cloud in the background. And it will be much easier to organize logic for such node if it would b

[2022-11-28 08:08] aditya2592 commented on #884
Hi @MichaelOrlov. Thanks for the fast reply. The use case is to upload them to cloud as you correctly predicted and hence I was also inclined to publish to the same topic.

[2022-11-28 15:44] karthiknit1 commented on #1019
Hello Michael,

If I specify folder, I do not see any issue. But this issue with file path instead of folder path exists in ros2 Humble distro as well (issue seen in windows). I didn't get chance to check it on Rolling distro.

The reason for providing file path is to read the splitted bag files (if any) recorded in a bag folder.

Thanks,
Karthik Reddy

[2022-11-29 05:04] james-rms opened #1188 "rosbag2_storage_mcap message definition cache cannot find `.msg` definitions outside `msg` dir"
## Description
Copying over the description from https://github.com/ros-tooling/rosbag2_storage_mcap/pull/77 :

[code]

### Expected Behavior
The MCAP storage plugin finds MSG definitions in any directory that the rest of ROS2 build infrastructure deems acceptable.

### Actual Behavior
the MCAP storage plugin fails to find MSG definitions outside of an `msg` package subdirectory.

## To Reproduce

[2022-11-29 08:01] jhurliman commented on #1159
My understanding of transient local durability is there is a user-configured history size, so it would only copy all messages from the previous file for a topic if the previous file was very short or the history size was unusually large. The default history size is 10, and 5 for the sensor QoS profile.

[2022-11-30 05:59] MichaelOrlov commented on #1181
Hi @tsadarsh It looks like this is not a bug.
It looks like you have some leftovers in generated python bindings in particular in file `_transport.py` in your system.
Please double check if you have some overlays or leftovers in your python environment.

Parameter `include_unpublished_topics` definitely  present in "_transport.cpp"
https://github.com/ros2/rosbag2/blob/57181ac49a58e7c3cf503295e37b7

[2022-11-30 07:11] MichaelOrlov commented on #1019
Preliminary analysis:
Exception with rrror message "cannot get file size: The file pointer cannot be set on the specified device or file." coming from
https://github.com/ros2/rosbag2/blob/197b09481a167d7fe9414c23945a778288f44a62/rosbag2_storage_default_plugins/src/rosbag2_storage_default_plugins/sqlite/sqlite_storage.cpp#L204-L206
Which is called from
https://github.com/ros2/rosbag2/blob/197b09481

[2022-11-30 07:32] MichaelOrlov commented on #1019
It seems `relative_path_` should have a valid value since we checking it for existence and even opening database file in `open(..)` method
https://github.com/ros2/rosbag2/blob/197b09481a167d7fe9414c23945a778288f44a62/rosbag2_storage_default_plugins/src/rosbag2_storage_default_plugins/sqlite/sqlite_storage.cpp#L89-L99
We calling `storage_->get_metadata();` when storage already has been opened in fa

[2022-11-30 15:06] tsadarsh commented on #1181
@MichaelOrlov Thank you for the response.
How do I check for overlays or leftovers in my python environment?

[2022-11-30 18:54] doisyg opened #1191 "Unable to record in MCAP since last Humble sync"
## Description
Unable to record in MCAP since last Humble sync

[2022-11-30 21:02] jhurliman commented on #1188
This should fix the issue, just needs to be ported to this repo: https://github.com/foxglove/ros-foxglove-bridge/pull/95

[2022-11-30 22:17] james-rms commented on #1191
Hi @doisyg , thanks for the report. This was previously reported in another repo: https://github.com/ros-tooling/rosbag2_storage_mcap/issues/82 - we're waiting on the next humble sync to ship the fix. I can leave this issue open for visibility until that sync happens.

[2022-11-30 22:39] doisyg commented on #1191
Thanks for the reply @james-rms and the already fixed issue.
Maybe these basic features could be protected by some CI tests ?

[2022-11-30 22:41] james-rms commented on #1191
Yes, that's captured in this issue: https://github.com/ros2/rosbag2/issues/1185